#include "RM_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  rmRes + 3000, "报表数据集"
  rmRes + 3001, "属性(&P)..."
  rmRes + 3002, "新建表(&table)..."
  rmRes + 3003, "新建查询(&query)..."
  rmRes + 3004, "删除(&R)"
  rmRes + 3005, "关闭(&C)"
  rmRes + 3006, "新建数据库(&database)..."
  rmRes + 3007, "预览数据..."

;--- TablePropForm resources -------------------------------------------------
  rmRes + 3020, "一般"
  rmRes + 3021, "名(&N)"
  rmRes + 3022, "字段(&Fields)"
  rmRes + 3023, "字段编辑器(&F)..."
  rmRes + 3024, "其它"
  rmRes + 3025, "索引(&I)"
  rmRes + 3026, "过滤表达式(&e)"
  rmRes + 3027, "主表(&M)"
  rmRes + 3028, "主表字段(&s)"

;--- FieldsEditorForm resources ----------------------------------------------
  rmRes + 3040, "添加字段(&A)..."
  rmRes + 3041, "添加查找字段（&l）..."
  rmRes + 3042, "全选(&S)"
  rmRes + 3043, "删除(&D)"
  rmRes + 3044, "退出(&E)"
  rmRes + 3045, "修改"

;--- FieldsListForm resources ------------------------------------------------
  rmRes + 3060, " 可用字段"

;--- LookupFieldForm resources -----------------------------------------------
  rmRes + 3070, "新建查找字段"
  rmRes + 3071, "字段"
  rmRes + 3072, "名称(&N)"
  rmRes + 3073, "类型(&T)"
  rmRes + 3074, "长度(&S)"
  rmRes + 3075, "查找定义"
  rmRes + 3076, "关键字段(&Key)"
  rmRes + 3077, "数据表(&D)"
  rmRes + 3078, "查找关键字段(&L)"
  rmRes + 3079, "结果字段(&R)"

;--- Query Designer resources ------------------------------------------------
  rmRes + 3080, "字段"
  rmRes + 3081, "计算字段"
  rmRes + 3082, "分组"
  rmRes + 3083, "排序"
  rmRes + 3084, "升序/降序"
  rmRes + 3085, "字段..."
  rmRes + 3086, "参数.."
  rmRes + 3087, "新查询"
  rmRes + 3088, "读入文件..."
  rmRes + 3089, "保存到文件..."
  rmRes + 3090, "字段"
  rmRes + 3091, "升序/降序"
  rmRes + 3092, "SQL文件(*.SQL)|*.SQL|Visual Query文件(*.QB)|*.QB"
  rmRes + 3093, "手工修改"
  rmRes + 3094, "真的要建立新查询吗？"

;--- ParamsForm resources ----------------------------------------------------
  rmRes + 3110, "参数"
  rmRes + 3111, "数据类型(&D)"
  rmRes + 3112, "名称(&N)"
  rmRes + 3113, "值(&V):"
  rmRes + 3114, "打印前请求输入参数值(&A)"
  rmRes + 3115, "从主数据集赋值(&m)"
  rmRes + 3116, "变量(&r):"

;--- FieldsLinkForm resources ------------------------------------------------
  rmRes + 3130, "明细字段(&D)"
  rmRes + 3131, "主字段(&M)"
  rmRes + 3132, "连接字段(&J)"
  rmRes + 3133, "添加(&A)"
  rmRes + 3134, "清除(&C)"

;--- Report Explorer resources -----------------------------------------------
  rmRes + 3135, "  所有文件夹"
  rmRes + 3136, "上一级文件夹"
  rmRes + 3137, "打开"
  rmRes + 3138, "新文件夹"
  rmRes + 3139, "新报表"
  rmRes + 3140, "打印..."
  rmRes + 3141, "打印预览..."
  rmRes + 3142, "删除..."
  rmRes + 3143, "显示项目列表"
  rmRes + 3144, "显示窗口中每一项的信息"
  rmRes + 3145, "退出"
  rmRes + 3146, "新建(&N)"
  rmRes + 3147, "文件夹"
  rmRes + 3148, "报表"
  rmRes + 3149, "重命名(&R)"
  rmRes + 3150, "查看(&V)"
  rmRes + 3151, "工具栏(&T)"
  rmRes + 3152, "状态栏(&B)"
  rmRes + 3153, "列表(&L)"
  rmRes + 3154, "详细资料(&D)"
  rmRes + 3155, "浏览"
  rmRes + 3156, "清空回收站"
  rmRes + 3157, "报表"
  rmRes + 3158, "文件夹"
  rmRes + 3159, "所有文件夹"
  rmRes + 3160, "回收站"
  rmRes + 3161, "真的删除这个文件夹吗?"
  rmRes + 3162, "删除"
  rmRes + 3163, "名称"
  rmRes + 3164, "大小"
  rmRes + 3165, "类型"
  rmRes + 3166, "修改时间"
  rmRes + 3167, "真的删除所选择的文件夹和报表吗?"
  rmRes + 3168, "提示信息"


;--- ADOForm resources -------------------------------------------------------
  rmRes + 3230, "连结"
  rmRes + 3231, "使用文件"
  rmRes + 3232, "使用字符串"
  rmRes + 3233, "数据库"
  rmRes + 3234, "名称:"
  rmRes + 3235, "别名:"
  rmRes + 3236, "驱动程序:"
  rmRes + 3237, "参数:"
  rmRes + 3238, "默认值"
  rmRes + 3239, "清除"
  rmRes + 3240, "文件夹"
  rmRes + 3241, "本地数据库"
  rmRes + 3242, "远程数据库"
  rmRes + 3243, "服务器:"
  rmRes + 3244, "协议:"
  rmRes + 3245, "选项"
  rmRes + 3246, "用户:"
  rmRes + 3247, "口令:"
  rmRes + 3248, "SQLRole:"
  rmRes + 3249, "浏览..."
  rmRes + 3250, "记录"
  rmRes + 3251, "建立..."
  rmRes + 3252, "选择文件夹"

;--- Strings resources -------------------------------------------------------
  SFields, "字段"
  SPath, "路径"
  SRemoveDS, "确认删除部件吗?"
  STables, "表格"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "数据管理"
  SParams, "参数"
  SQueryError, "非法SQL语句或参数"
  STableProps, "表属性"
  SParamDialog, "参数对话框"
  SInvalidParamValue, "非法参数值"
  SDatabase, "数据库"
  SFieldSizeError, "非法字段长度"
}
