#include "RM_Const.pas"

STRINGTABLE
{
;--- EditorForm resources ----------------------------------------------------
  rmRes + 60, "文本编辑器"
  rmRes + 61, "插入表达式"
  rmRes + 62, "插入数据字段"
  rmRes + 63, "自动折行"
  rmRes + 64, "显示/隐藏 script"
  rmRes + 65, "字段"

;--- InspForm resources ------------------------------------------------------
  rmRes + 70, "对象查看器"
  rmRes + 71, "属性"
  rmRes + 72, "事件"

;--- FRDesignerForm resources ------------------------------------------------
  rmRes + 80, "设计器"
  rmRes + 81, "常用工具栏"
  rmRes + 82, "文本工具栏"
  rmRes + 83, "边框工具栏"
  rmRes + 84, "对齐工具栏"
  rmRes + 85, "大小调色板"
  rmRes + 86, "对象工具栏"
  rmRes + 87, "新建报表"
  rmRes + 88, "打开报表..."
  rmRes + 89, "保存报表"
  rmRes + 90, "预览报表"
  rmRes + 91, "剪切"
  rmRes + 92, "复制"
  rmRes + 93, "粘贴"
  rmRes + 94, "取消最后一次操作"
  rmRes + 95, "重做取消的操作"
  rmRes + 96, "放在最前面"
  rmRes + 97, "放到最后面"
  rmRes + 98, "全选"
  rmRes + 99, "添加页"
  rmRes + 100, "删除页"
  rmRes + 101, "页面设置"
  rmRes + 102, "栅格"
  rmRes + 103, "栅格对齐"
  rmRes + 104, "匹配栅格"
  rmRes + 106, "关闭设计器"
  rmRes + 107, "左对齐"
  rmRes + 108, "右对齐"
  rmRes + 109, "中间对齐"
  rmRes + 110, "插入数据字段"
  rmRes + 111, "垂向中间对齐"
  rmRes + 112, "顶端对齐"
  rmRes + 113, "底端对齐"
  rmRes + 114, "两端对齐"
  rmRes + 115, "粗体"
  rmRes + 116, "斜体"
  rmRes + 117, "下划线"
  rmRes + 118, "字体颜色"
  rmRes + 119, "条件高亮度"
  rmRes + 120, "字体大小"
  rmRes + 121, "字体名称"
  rmRes + 122, "顶框线"
  rmRes + 123, "左框线"
  rmRes + 124, "底框线"
  rmRes + 125, "右框线"
  rmRes + 126, "有框线"
  rmRes + 127, "无框线"
  rmRes + 128, "背景色"
  rmRes + 129, "框线色"
  rmRes + 130, "框线宽"
  rmRes + 131, "框线宽"
  rmRes + 132, "选择对象"
  rmRes + 133, "插入文本框"
  rmRes + 134, "插入边条"
  rmRes + 135, "插入图片"
  rmRes + 136, "插入子报表"
  rmRes + 137, "插入计算文本框"
  rmRes + 138, "左端对齐"
  rmRes + 139, "水平居中"
  rmRes + 140, "水平平均分布各列"
  rmRes + 141, "窗口水平居中"
  rmRes + 142, "右端对齐"
  rmRes + 143, "顶端对齐"
  rmRes + 144, "垂直平均分布各列"
  rmRes + 145, "窗口垂直居中"
  rmRes + 146, "垂直居中"
  rmRes + 147, "底端对齐"
  rmRes + 148, "剪切(&U)"
  rmRes + 149, "复制(&C)"
  rmRes + 150, "粘贴(&P)"
  rmRes + 151, "删除(&D)"
  rmRes + 152, "全选(&a)"
  rmRes + 153, "编辑(&E)..."
  rmRes + 154, "文件(&F)"
  rmRes + 155, "新建(&N)..."
  rmRes + 156, "打开(&O)..."
  rmRes + 157, "保存(&S)"
  rmRes + 158, "数据字典(&D)..."
  rmRes + 159, "打印(&P)..."
  rmRes + 160, "页面设置(&P)..."
  rmRes + 161, "预览(&V)"
  rmRes + 162, "退出(&x)"
  rmRes + 163, "编辑(&E)"
  rmRes + 164, "取消(&Undo)"
  rmRes + 165, "重做(&Redo)"
  rmRes + 166, "剪切(&U)"
  rmRes + 167, "复制(&C)"
  rmRes + 168, "粘贴(&P)"
  rmRes + 169, "删除(&D)"
  rmRes + 170, "全选(&a)"
  rmRes + 171, "编辑(&E)..."
  rmRes + 172, "添加页(&A)"
  rmRes + 173, "删除页(&R)"
  rmRes + 174, "放到最前面(&f)"
  rmRes + 175, "放到最后面(&b)"
  rmRes + 176, "工具(&T)"
  rmRes + 177, "工具栏(&T)"
  rmRes + 178, "工具箱(&l)"
  rmRes + 179, "选项(&O)..."
  rmRes + 180, "边框"
  rmRes + 181, "常用"
  rmRes + 182, "文本(&T)"
  rmRes + 183, "对象(&O)"
  rmRes + 184, "对象查看器(&I)"
  rmRes + 185, "对齐调色板"
  rmRes + 186, "工具箱(&l)"
  rmRes + 187, "关于(&A)..."
  rmRes + 188, "另存为(&a)..."
  rmRes + 189, "帮助主题(&C)"
  rmRes + 190, "帮助(&H)"	
  rmRes + 191, "线型"
  rmRes + 192, "添加对话框(&f)"
  rmRes + 193, "添加对话框"
  rmRes + 194, "边框宽度"
  rmRes + 195, "设计"
  rmRes + 196, "预览"
  rmRes + 197, "插入汇总框"
  rmRes + 198, "斜线"
  rmRes + 199, "水平首尾相连"
  rmRes + 200, "工具"
  rmRes + 201, "插入中国式财务对象"
  rmRes + 202, "缩放宽度到最小"
  rmRes + 203, "缩放宽度到最大"
  rmRes + 204, "缩放高度到最小"
  rmRes + 205, "缩放高度到最大"
  rmRes + 105, "设计"
  rmRes + 206, "大小调色板"
  rmRes + 207, "预览"
  rmRes + 208, "字体颜色"
  rmRes + 209, "填充颜色"
  rmRes + 210, "边框颜色"
  rmRes + 211, "属性..."
  rmRes + 212, "自动对齐"
  rmRes + 214, "边框..."
  rmRes + 215, "垂直首尾相连"
  rmRes + 216, "属性..."
  rmRes + 217, "查找&&替换..."
  rmRes + 218, "首页"
  rmRes + 219, "上一页"
  rmRes + 220, "下一页"
  rmRes + 221, "尾页"
  rmRes + 222, "自动保存"
  rmRes + 223, "引入数据字典..."
  rmRes + 224, "合并数据字典..."
  rmRes + 225, "导出数据字典..."
  rmRes + 226, "锁定对象"
  rmRes + 227, "删除边条"
  rmRes + 228, "减少宽度"
  rmRes + 229, "增加宽度"
  rmRes + 230, "减少高度"
  rmRes + 231, "增加高度"
  rmRes + 232, "斜线"
  rmRes + 233, "斜线"
  rmRes + 234, "方框"
  rmRes + 235, "内框"
  rmRes + 236, "插入列"
  rmRes + 237, "插入行"
  rmRes + 238, "追加列"
  rmRes + 239, "追加行"
  rmRes + 240, "删除列"
  rmRes + 241, "删除行"
  rmRes + 242, "列合并"
  rmRes + 243, "行合并"
  rmRes + 244, "Grid工具栏"
  rmRes + 245, "表行"
  rmRes + 246, "表列"
  rmRes + 247, "行高..."
  rmRes + 248, "平均分布各行"
  rmRes + 249, "列宽..."
  rmRes + 250, "平均分布各列"
  rmRes + 251, "菜单栏"
  rmRes + 252, "插入单元格"
  rmRes + 253, "脚本"
  rmRes + 254, "查找"
  rmRes + 255, "查找..."
  rmRes + 256  "替换..."
  rmRes + 257, "查找下一个"
  rmRes + 258, "横向插入单元格"
  rmRes + 259, "纵向插入单元格"
  rmRes + 260, "条码内容"
  rmRes + 261, "最佳高宽"
  rmRes + 262, "宽:"
  rmRes + 263, "高:"
  rmRes + 264, "条码宽度"
  rmRes + 265, "列数"
  rmRes + 266, "加密等级"
  rmRes + 267, "行数"
  rmRes + 268, "横向删除单元格"
  rmRes + 269, "纵向删除单元格"
  rmRes + 270, "交换页顺序"

;--- DesOptionsForm resources ------------------------------------------------
  rmRes + 280, "选项"
  rmRes + 281, "设计器"
  rmRes + 282, "栅格"
  rmRes + 283, "画对象"
  rmRes + 284, "报表单位"
  rmRes + 285, "栅格大小"
  rmRes + 286, "显示栅格(&S)"
  rmRes + 287, "栅格对齐(&g)"
  rmRes + 288, "彩色按钮（&b）"
  rmRes + 289, "&4 象素"
  rmRes + 290, "&8 象素"
  rmRes + 291, "&18 象素 (5mm)"
  rmRes + 293, "移动或改变对象大小时,显示内容"
  rmRes + 294, "象素(&P)"
  rmRes + 295, "毫米(&MM)"
  rmRes + 296, "英寸(&Inches)"
  rmRes + 297, "其它"
  rmRes + 298, "插入后编辑(&E)"
  rmRes + 299, "显示band标题(&t)"
  rmRes + 300, "页位置"
  rmRes + 301, "中心(&r)"
  rmRes + 302, "左(&f)"
  rmRes + 303, "右(&h)"
  rmRes + 304, "编辑器"
  rmRes + 305, "文本编辑器"
  rmRes + 306, "使用对象的字体设置(&U)"
  rmRes + 307, "使用固定设置(&f):"
  rmRes + 308, "字体名称:"
  rmRes + 309, "字体大小:"
  rmRes + 310, "Script 编辑器"
  rmRes + 311, "显示本地化的属性名称"
  rmRes + 312, "自动打开上次的报表"
  rmRes + 313, "工作区"
  rmRes + 314, "自动调整栏目位置"
  rmRes + 315, "微米"
  rmRes + 316, "显示下拉字段列表"

;--- TemplNewForm resources --------------------------------------------------
  rmRes + 320, "新建报表模板"
  rmRes + 321, "注释(&C)"
  rmRes + 322, "图标"
  rmRes + 323, "文件(&F)..."

;--- DictForm resources ------------------------------------------------------
  rmRes + 340, "数据字典"
  rmRes + 341, "变量"
  rmRes + 342, "字段别名"
  rmRes + 343, "Band 数据源"
  rmRes + 344, "变量(&r)"
  rmRes + 345, "值(&l)"
  rmRes + 346, "表达式(&x)"
  rmRes + 347, "新建目录"
  rmRes + 348, "新建变量"
  rmRes + 349, "编辑"
  rmRes + 350, "删除"
  rmRes + 351, "编辑列表"
  rmRes + 352, "数据集及字段"
  rmRes + 353, "所有数据集"
  rmRes + 354, "外观(&A)"
  rmRes + 355, "别名(&l)"
  rmRes + 356, "从列表中排除字段(&x)"
  rmRes + 357, "数据源"
  rmRes + 358, "所有数据源"
  rmRes + 359, "保存(&S)..."
  rmRes + 360, "压缩数据字典"

;--- FmtForm resources -------------------------------------------------------
  rmRes + 420, "显示格式"
  rmRes + 421, "显示格式"
  rmRes + 422, "小数位(&D)"
  rmRes + 423, "小数位分隔符(&s)"
  rmRes + 424, "自定义格式(&f)"

;--- FieldsForm resources ----------------------------------------------------
  rmRes + 450, "插入数据字段"

;--- GEditorForm resources ---------------------------------------------------
  rmRes + 460, "图片"
  rmRes + 461, "伸展"
  rmRes + 462, "装入..."
  rmRes + 463, "清除"
  rmRes + 464, "&Memo"
  rmRes + 465, "保存..."

;--- BandEditorForm resources ------------------------------------------------
  rmRes + 480, "Band 数据源"
  rmRes + 481, "数据源(&D)"
  rmRes + 482, "记录数(&R)"

;--- VBandEditorForm resources ------------------------------------------------
  rmRes + 485, "Band 数据源"
  rmRes + 486, "Bands"
  rmRes + 487, "数据源"
  rmRes + 488, "记录数(&R)"

;--- GroupEditorForm resources -----------------------------------------------
  rmRes + 490, "分组"
  rmRes + 491, "表达式"
  rmRes + 492, "插入数据字段"
  rmRes + 493, "显示在outline中"

;--- BandTypesForm resources -------------------------------------------------
  rmRes + 510, "插入新栏目"
  rmRes + 511, "栏目类型"
  rmRes + 512, "交叉栏目类型"

;--- HilightForm resources ---------------------------------------------------
  rmRes + 520, "条件高亮度"
  rmRes + 521, "条件(&C)"
  rmRes + 522, "字体"
  rmRes + 523, "颜色..."
  rmRes + 524, "粗体(&B)"
  rmRes + 525, "斜体(&I)"
  rmRes + 526, "下划线(&U)"
  rmRes + 527, "背景色"
  rmRes + 528, "颜色..."
  rmRes + 529, "透明(&T)"
  rmRes + 530, "其它(&h)"

;--- AboutForm resources -----------------------------------------------------
  rmRes + 540, "关于 Report Machine"
  rmRes + 541, "Windows 的可用物理内存:"

;--- OleForm resources -------------------------------------------------------
  rmRes + 550, "OLE 对象"
  rmRes + 551, "插入(&I)..."
  rmRes + 552, "编辑(&E)..."
  rmRes + 553, "关闭(&C)"
  rmRes + 554, "插入对象(&O)..."
  rmRes + 555, "粘贴对象..."
  rmRes + 556, "复制对象"
  rmRes + 557, "清除对象"
  rmRes + 558, "对象属性..."

;--- RichForm resources ------------------------------------------------------
  rmRes + 560, "Rich Edit"
  rmRes + 561, "打开..."
  rmRes + 562, "保存..."
  rmRes + 563, "取消"
  rmRes + 564, "粗体"
  rmRes + 565, "斜体"
  rmRes + 566, "左对齐"
  rmRes + 567, "中间对齐"
  rmRes + 568, "右对齐"
  rmRes + 569, "下划线"
  rmRes + 570, "列表"
  rmRes + 571, "字体"
  rmRes + 572, "特殊粘贴(&S)..."
  rmRes + 573, "保存退出"
  rmRes + 574, "不保存退出"
  rmRes + 575, "插入表达式..."
  rmRes + 576, "字体..."
  rmRes + 577, "字体大小"
  rmRes + 578, "行:"
  rmRes + 579, "列:"
  rmRes + 580, "上标"
  rmRes + 581, "下标"
  rmRes + 582, "查找(&F)..."
  rmRes + 583, "查找下一个"
  rmRes + 584, "替换(&E)..."
  rmRes + 585, "对象属性..."
  rmRes + 586, "插入(&I)"
  rmRes + 587, "对象(&O)..."
  rmRes + 588, "图片(&P)..."
  rmRes + 589, "格式(&F)"

;--- ChartForm resources -----------------------------------------------------
  rmRes + 590, "图表"
  rmRes + 591, "图表类型"
  rmRes + 592, "图表数据"
  rmRes + 593, "类型"
  rmRes + 594, "对象名称"
  rmRes + 595, "Chart 选项"
  rmRes + 596, "&3D"
  rmRes + 598, "显示图例"
  rmRes + 599, "显示轴"
  rmRes + 600, "显示标记"
  rmRes + 601, "多色显示"
  rmRes + 602, "X轴："
  rmRes + 603, "Y轴："
  rmRes + 604, "标记"
  rmRes + 605, "Series 风格"
  rmRes + 606, "值"
  rmRes + 607, "百分率"
  rmRes + 608, "标号"
  rmRes + 609, "标号及百分率"
  rmRes + 610, "标号及值"
  rmRes + 611, "前十个分组"
  rmRes + 612, "显示图例个数："
  rmRes + 613, "图例："
  rmRes + 614, "值"
  rmRes + 616, "增加"
  rmRes + 617, "删除"
  rmRes + 618, "编辑 Title..."
  rmRes + 619, "上移"
  rmRes + 620, "下移"
  rmRes + 597, "图表选项"
  rmRes + 621, "数据集:"
  rmRes + 622, "标签："
  rmRes + 623, "Chart属性"
  rmRes + 624, "折线图"
  rmRes + 625, "面积图"
  rmRes + 626, "XY散点图"
  rmRes + 627, "柱形图"
  rmRes + 628, "条形图"
  rmRes + 629, "饼图"
  rmRes + 630, "必须是数字型字段"
  rmRes + 631, "数据源"
  rmRes + 632, "栏文本框"
  rmRes + 633, "数据表"
  rmRes + 634, "固定数据"
  rmRes + 635, "排序"
  rmRes + 636, "不排序"
  rmRes + 637, "升序"
  rmRes + 638, "降序"
  rmRes + 639, "数据"
  rmRes + 640, "X轴数据(例如:a;b;c)"
  rmRes + 641, "Y轴数据(例如:1;2;3)"
  rmRes + 642, "Series 选项"
  rmRes + 643, "干特图"
  rmRes + 644, "快速线图"

;--- BarCodeForm resources ---------------------------------------------------
  rmRes + 650, "条码编辑器"
  rmRes + 651, "代码(&C)"
  rmRes + 652, "条码类型(&T)"
  rmRes + 653, "选项"
  rmRes + 654, "校验和"
  rmRes + 655, "目读数字(&H)"
  rmRes + 656, "插入表达式"
  rmRes + 657, "插入变量"
  rmRes + 658, "旋转"
  rmRes + 659, "&放大:"
  rmRes + 660, "在条码里显示内容"
  rmRes + 661, "位置"
  rmRes + 662, "内容"
  rmRes + 663, "截断条码"
  rmRes + 664, "调节高度"
  rmRes + 665, "左"
  rmRes + 666, "中"
  rmRes + 667, "模式"
  rmRes + 668, "国家代码"
  rmRes + 669, "服务类别"
  rmRes + 670, "邮递代码"
  rmRes + 671, "上;中;下"
  rmRes + 672, "运输信息代码"
  rmRes + 673, "标准信息代码"
  rmRes + 674, "完全ECC 代码"
  rmRes + 675, "显示格式"
  rmRes + 676, "对齐"
  rmRes + 677, "边框"
  rmRes + 678, "水平对齐"
  rmRes + 679, "垂直对齐"
  rmRes + 680, "文字对齐"
  rmRes + 681, "其它"
  rmRes + 682, "自动换行"
  rmRes + 683, "字形"
  rmRes + 684, "字号"
  rmRes + 685, "颜色"
  rmRes + 686, "常规"
  rmRes + 687, "倾斜"
  rmRes + 688, "加粗"
  rmRes + 689, "加粗 倾斜"
  rmRes + 690, "行数:"
  rmRes + 691, "列数:"
  rmRes + 692, "表页尺寸..."
  rmRes + 693, "设置表页大小"
  rmRes + 694, "单元格属性..."
  rmRes + 695, "行高"
  rmRes + 696, "列宽"
  rmRes + 697, "右"

;--- ExprForm resources ------------------------------------------------------
  rmRes + 700, "表达式编辑器"
  rmRes + 701, "表达式"
  rmRes + 702, "插入"
  rmRes + 703, "字段(&D)..."
  rmRes + 704, "变量(&V)..."
  rmRes + 705, "函数(&F)..."
  rmRes + 706, "表:"
  rmRes + 707, "字段:"
  rmRes + 708, "插入变量"
  rmRes + 709, "继续"
  rmRes + 710, "选择函数"
  rmRes + 711, "输入参数"
  rmRes + 712, "校验"
  rmRes + 713, "插入字段"
  rmRes + 714, "日期时间型"
  rmRes + 715, "时间型"
  rmRes + 716, "日期型"
  rmRes + 717, "字符型"
  rmRes + 718, "逻辑型"
  rmRes + 719, "数字型"
  rmRes + 720, "值"
  rmRes + 721, "清除"
  rmRes + 722, "使用表名"

;--- AttrForm resources ------------------------------------------------------
  rmRes + 740, "对象tag"

;--- CrossForm resources -----------------------------------------------------
  rmRes + 750, "交叉表"
  rmRes + 751, "数据集"
  rmRes + 752, "小计"
  rmRes + 753, "函数"
  rmRes + 754, "交叉表属性编辑器"
  rmRes + 755, "头"
  rmRes + 756, "小计"
  rmRes + 757, "总计"
  rmRes + 758, "单元"
  rmRes + 759, "小计:"
  rmRes + 760, "项目"
  rmRes + 761, "重复标题栏"
  rmRes + 762, "显示内部边框"
  rmRes + 763, "显示标题"

;--- CalcEditorForm resources -------------------------------------------------------
  rmRes + 770, "属性"
  rmRes + 771, "统计类型"
  rmRes + 772, "合计(SUM)"
  rmRes + 773, "计数(COUNT)"
  rmRes + 774, "平均值(AVG)"
  rmRes + 775, "最大值(MAX)"
  rmRes + 776, "最小值(MIN)"
  rmRes + 777, "统计Band:"
  rmRes + 778, "统计条件:"
  rmRes + 779, "打印后初始化"
  rmRes + 769, "统计不可见行"
  rmRes + 768, "自定义"
  rmRes + 767, "初始化值:"
  rmRes + 766, "计算值:"
  rmRes + 765, "自定义计算"
  rmRes + 764, "初始化组:"

;--- TemplForm resources -----------------------------------------------------
  rmRes + 780, "新建报表"
  rmRes + 781, "预览"
  rmRes + 782, "模版"
  rmRes + 783, "向导"
  rmRes + 794, "浏览"
  rmRes + 795, "建立"

  rmRes + 796, "左边框"
  rmRes + 797, "上边框"
  rmRes + 798, "右边框"
  rmRes + 799, "下边框"
  rmRes + 800, "斜线"
  rmRes + 801, "插入列"
  rmRes + 802, "插入行"
  rmRes + 803, "删除列"
  rmRes + 804, "删除行"
  rmRes + 805, "合并单元格"
  rmRes + 806, "拆分单元格"
  rmRes + 807, "单元格"
  rmRes + 808, "左边"
  rmRes + 809, "右边"
  rmRes + 810, "上边"
  rmRes + 811, "下边"
  rmRes + 812, "列"
  rmRes + 813, "行"
  rmRes + 814, "单元格类型"
;  rmRes + 815, "标题:"
  rmRes + 816, "作者:"
  rmRes + 817, "公司:"
  rmRes + 818, "版权:"
  rmRes + 819, "描述:"
  rmRes + 820, "报表属性"

  rmRes + 821, "查找:"
  rmRes + 822, "替换:"
  rmRes + 823, "查找和替换"
  rmRes + 824, "区分大小写"
  rmRes + 825, "在Script中查找"
  rmRes + 826, "在Memo中查找"
  rmRes + 827, "查找"
  rmRes + 828, "替换"
  rmRes + 829, "停止"
  rmRes + 830, "替换所有的"
  rmRes + 831, "关闭"
  rmRes + 832, "对象"
  rmRes + 833, "ID"
  rmRes + 834, "Memo"
  rmRes + 835, "Script"
  rmRes + 836, "没有选择对象"
  rmRes + 837, "将报表中所有的%s""%s""%s替换成%s""%s""?"
  rmRes + 838, "将所选对象中的%s""%s""%s替换成%s""%s""?"
  rmRes + 839, "空白报表"
  rmRes + 840, "缩进"
  rmRes + 841, "左(&L):"
  rmRes + 842, "右(&R):"
  rmRes + 843, "首行(&F):"
  rmRes + 844, "对齐方式"
  rmRes + 845, "左"
  rmRes + 846, "右"
  rmRes + 847, "中"
  rmRes + 848, "间距"
  rmRes + 849, "之前:"
  rmRes + 850, "之后:"
  rmRes + 851, "行间距:"
  rmRes + 852, "段落(&P)..."
  rmRes + 853, "段落"
  rmRes + 854, "在左方插入列"
  rmRes + 855, "输入列数"
  rmRes + 856, "在上方插入行"
  rmRes + 857, "输入要插入的行数"
  rmRes + 858, "在右边插入列"
  rmRes + 859, "在下方插入行"
  rmRes + 860, "插入栏"
  rmRes + 861, "复制当前页"
  rmRes + 862, "粘贴页"
  rmRes + 863, "边框"
  rmRes + 864, "双线"
  rmRes + 865, "边框属性"
  rmRes + 866, "单元格工具栏"
  rmRes + 867, "页头页角"
  rmRes + 868, " 页头 "
  rmRes + 869, " 页角 "
  rmRes + 870, "标题"
  rmRes + 871, " 主标题 "
  rmRes + 872, " 副标题 "
  rmRes + 873, "选项"
  rmRes + 874, "页头页角..."
  rmRes + 875, "数据源..."
  rmRes + 876, "栏目..."
  rmRes + 877, "预览模板"
  rmRes + 878, "自动"
  rmRes + 879, "显示"
  rmRes + 880, "可打印"
  rmRes + 881, "清除内容"
  rmRes + 882, "伸展到最大高度"
  rmRes + 883, "保持所有内容同页显示"
  rmRes + 884, "保持与注脚栏同页显示"
  rmRes + 885, "保持与子栏同页显示"
  rmRes + 886, "数据集"
  rmRes + 887, "报表选项 "
  rmRes + 888, "字体"
  rmRes + 889, "自动追加空行"
  rmRes + 890, "水平居中"
  rmRes + 891, "报表定义"
  rmRes + 892, "增加节点"
  rmRes + 893, "删除节点"
  rmRes + 894, "增加子节点"
  rmRes + 895, "标题"
  rmRes + 896, "内容"
  rmRes + 897, "数据属性"
  rmRes + 898, "宽度"
  rmRes + 899, "标题属性"
  rmRes + 900, "对齐"
  rmRes + 901, "填充颜色"
  rmRes + 902, "注脚属性"
  rmRes + 903, "统计类型"
  rmRes + 904, "说明"
  rmRes + 905, "页统计"
  rmRes + 906, "总计"
  rmRes + 907, "组小计"
  rmRes + 908, "页累计"
  rmRes + 909, "上移"
  rmRes + 910, "下移"
  rmRes + 911, "左移"
  rmRes + 912, "右移"
  rmRes + 913, "其它属性"
  rmRes + 914, "Html标签属性编辑器"
  rmRes + 915, "Html内容"
  rmRes + 916, "数据库字段"
  rmRes + 917, "字体"
  rmRes + 918, "斜体"
  rmRes + 919, "加粗"
  rmRes + 920, "上标"
  rmRes + 921, "下标"
  rmRes + 922, "上划线"
  rmRes + 923, "下划线"
  rmRes + 924, "字段别名"
  rmRes + 925, "字段名"
  rmRes + 926, "数据字典"
  rmRes + 927, "数据表别名"
  rmRes + 928, "初始化"
  rmRes + 929, "单元格属性"
  rmRes + 930, "打印在上层页面"
  rmRes + 931, "新建表格"
  rmRes + 932, "横向拆分表格"
  rmRes + 933, "纵向拆分表格"
  rmRes + 934, "插入单元格"
  rmRes + 935, "追加单元格"
  rmRes + 936, "删除单元格"
  rmRes + 937, "打印"
  rmRes + 938, "显示格式"

;--- Strings resources -------------------------------------------------------
  SRemovePg, "删除该页吗?"
  SConfirm, "确认"

  SSystemVariables, "系统变量"
  SVar1, "页#"
  SVar2, "应用程序路径"
  SVar3, "日期"
  SVar4, "时间"
  SVar5, "日期时间"
  SVar6, "行#"
  SVar7, "行 through#"
  SVar8, "列#"
  SVar9, "当前行#"
  SVar10, "总页数(需要选择'两遍报表')"
  SStretched, "伸展"
  SVarFormat, "显示格式..."
  SWordWrap, "自动折行"
  SWordBreak, ""
  SFormNewPage, "强迫换页"
  SPrintIfSubsetEmpty, "子表为空时也打印"
  SBreaked, "分隔"
  SPictureCenter, "图片中心化"
  SKeepAspectRatio, "保持纵横比"
  SFormFile, "ReportMachine 表单"
  STemplFile, "ReportMachine 模版"
  SDictFile, "ReportMachine 数据字典"
  SPictFile, "图片文件"
  SAllFiles, "所有文件"
  SInsOLEObject, "OLE"
  SInsRichObject, "RichText"
  SInsRich2Object, "RX RichText"
  SInsWwRichObject, "ww RichText"
  SInsCheckBox, "CheckBox"
  SInsChart, "Char"
  SInsShape, "插入 Shape 对象"
  SInsBarcode, "Barcode"
  SInsRoundRect, "RoundRect"
  rmRes + 2496, "ClientDataSet"
  rmRes + 2497, "DCOMConnection"
  rmRes + 2498, "SocketConnection"
  rmRes + 2503, "DB Chart"
  SSubReportOnPage, "在页面打印子报表"
  SPicture, "[图片]"
  STransparent, "透明"
  SOther, "其它..."
  SOnFirstPage, "在第一页"
  SOnLastPage, "在最后一页"
  SRepeatHeader, "在所有页重复显示"
  SDesignReport, "设计报表"
  SInsertFields, "插入数据库字段"
  SSaveChanges, "保存变动"
  STo, "到"
  SPixels, "象素"
  SMM, "MM"
  SInches, "英寸"
  SVirtualDataset, "虚拟数据集"
  SAutoSize, "自动大小"
  SRMVariables, "RM 变量"
  SClearContents, "清除内容"

  SAllCategories, "所有函数"
  SDateTimeCategory, "日期/时间"
  SStringCategory, "字符串"
  SOtherCategory, "其它"
  SMathCategory, "数学"
  SBoolCategory, "逻辑"
  SIntrpCategory, "解释器"
  SAggregateCategory, "统计"

  SRMCalcType, "统计类型..."
  SRMResetAfterPrint, "打印后初始化"

  SDescriptionDAY, "Day(<Date>)|"
    "返回<Date>的日期数(1..31)."

  SDescriptionFORMATDATETIME, "FormatDateTime(<Fmt>, <DateTime>)|"
    "按<Fmt>转换 <DateTime> 值为字符串."

  SDescriptionFORMATFLOAT, "FormatFloat(<Fmt>, <Numeric>)|"
    "按<Fmt>转换<Numeric>值为字符串."

  SDescriptionINPUT, "Input(<Caption> [,Default])|"
    "显示带编辑的对话框，标题为 <Caption>. "
    "如设置了[Default],则把该值放入编辑框里. "
    "当用户按[确认]按钮，则返回输入字符串."

  SDescriptionLENGTH, "Length(<String>)|"
    "返回<String>的长度."

  SDescriptionLOWERCASE, "LowerCase(<String>)|"
    "转换<String>为小写."

  SDescriptionMONTH, "Month(<Date>)|"
    "返回<Date>月值(1..12)."

  SDescriptionNAMECASE, "NameCase(<String>)|"
    "转换<String>符号为小写,""首字符大写."

  SDescriptionSTRTODATE, "StrToDate(<String>)|"
    "转换<String>为日期型."

  SDescriptionSTRTOTIME, "StrToTime(<String>)|"
    "转换<String>为时间型."

  SDescriptionTRIM, "Trim(<String>)|"
    "返回去掉<String>前后空格的字符串 "

  SDescriptionUPPERCASE, "UpperCase(<String>)|"
    "转换<String> 为大写."

  SDescriptionYEAR, "Year(<Date>)|"
    "返回<Date>年部分."

  SDescriptionIF, "If(<Expression>, <Value1>, <Value2>)|"
    "如表达式<Expression> 为真，返回 <Value1>; "
    "否则，返回 <Value2>"

  SDescriptionCOPY, "Copy(<String>, <From>, <Count>)|"
    "返回<string>的子串."

  SDescriptionMOD, "<Value1> Mod <Value2>|"
    "返回模运算."

  SDescriptionSTR, "Str(<Value>)|"
    "转换数值<Value>为字符串."

  SDescriptionNOT, "Not <Value>|"
    "逻辑 'NOT'."

  SDescriptionAND, "<Value1> And <Value2>|"
    "逻辑 'AND'."

  SDescriptionOR, "<Value1> Or <Value2>|"
    "逻辑 'OR'."

  SDescriptionROUND, "Round(<Value>)|"
    "返回 <Value>取整舍入."

  SDescriptionFRAC, "Frac(<Value>)|"
    "返回<Value>小数部分."

  SDescriptionINT, "Int(<Value>)|"
    "返回<Value>整数部分."

  SDescriptionTRUE, "TRUE|"
    "逻辑 'TRUE'."

  SDescriptionFALSE, "FALSE|"
    "逻辑 'FALSE'."

  SDescriptionPAGE, "PAGE#|"
    "返回当前页数."

  SDescriptionDATE, "DATE|"
    "返回当前日期."

  SDescriptionTIME, "TIME|"
    "返回当前时间."

  SDescriptionLINE, "LINE#|"
    "返回数据行数(从分组起始位置起)."

  SDescriptionLINETHROUGH, "LINETHROUGH#|"
    "返回数据行数(从报表起始位置起)."

  SDescriptionCOLUMN, "COLUMN#|"
    "返回当前栏目数."

  SDescriptionTOTALPAGES, "TOTALPAGES|"
    "报表总页数."

  SDescriptionMROK, "mrOK|"
    "对话框常量."

  SDescriptionMRCancel, "mrCancel|"
    "对话框常量."

  SDescriptionCurY, "CurY|"
    "返回当前Band显示的'Y'向(象素)坐标 "

  SDescriptionFreeSpace, "FreeSpace|"
    "返回剩余页面空象素."

  SDescriptionFinalPass, "FinalPass|"
    "若是最后扫描返回True."

  SDescriptionPageHeight, "PageHeight|"
    "页高度象素."

  SDescriptionPageWidth, "PageWidth|"
    "页宽度象素."

  SDescriptionProgress, "Progress|"
    "显示在进程窗口的进程值."

  SDescriptionModalResult, "ModalResult|"
    "赋非零值导致关闭对话框."

  SDescriptionStopReport, "StopReport|"
    "停止报表处理."

  SDescriptionNewPage, "NewPage|"
    "开始新页."

  SDescriptionNewColumn, "NewColumn|"
    "开始新栏目."

  SDescriptionShowBand, "ShowBand(<BandName>)|"
    "显示<BandName>."

  SDescriptionINC, "Inc(<Value>)|"
    "递增 <Value>."

  SDescriptionDEC, "Dec(<Value>)|"
    "递减 <Value>."

  SDescriptionMAXNUM, "MaxNum(<Value1>, <Value2>)|"
    "返回最大值."

  SDescriptionMINNUM, "MinNum(<Value1>, <Value2>)|"
    "返回最小值."

  SDescriptionPOS, "Pos(<SubString>, <String>)|"
    "返回子字符串在给定字符串中的位置."

  SDescriptionMESSAGEBOX, "MessageBox(<Text>, <Title>, <Buttons>)|"
    "显示以<Text>,<Title>标准对话框,按钮<Buttons>."

  SDescriptionFORMATTEXT, "FormatText(<Mask>, <String>)|"
    "以<Mask>格式化给定字符串<String>."

  SDescriptionCnNumber, "CNumber(Value)|阿拉伯数字转换为中文数字"
  SDescriptionCurrToBigNum, "CurrToBigNum(Value)|数字转换为人民币大写"
  SDescriptionDiv, "Div(<Value1>, <Value2>)|Integer division of <X> by <Y>"
  SDescriptionRMRound, "RMRound(<Value1>, <Value2>)|四舍五入"

  SDescriptionCOUNT, "Count(<BandName>, [1], [Condition])|返回给定<BandName>上的数据行数. "
  SDescriptionAVG, "AVG(<Expression>, [BandName], [1], [Condition])|"
    "计算给定行的[BandName]上 <Expression>的平均值. "
    "如果用[1]参数,则计算亦包含非可见行的."
  SDescriptionMAX, "MAX(<Expression>, [BandName], [1], [Condition])|"
    "计算[BandName]上<Expression>最大值. "
    "若使用[1]参数,则计算包括非可见行."
  SDescriptionMIN, "MIN(<Expression>, [BandName], [1], [Condition])|"
     "计算[BandName]上<Expression>最小值. "
     "若使用[1]参数,则计算包括非可见行."
  SDescriptionSUM, "SUM(<Expression>, [BandName], [1], [Condition])|"
    "计算[BandName]上<Expression>的和. "
    "若使用[1]参数,则计算包括非可见行."

  SInformation, "信息"
  SExpressionOK, "表达式通过!"
  STextOnly, "只能是文本"
  SSuppressRepeated, "压缩重复值"
  SDeleteObjects, "这将删除该页所有对象."
  SHideZeros, "隐藏零值"
  SPrintChild, "打印子Band不可见"
  SUnderlines, "下划线"
  SAutoAppendBlank, "自动增加空行"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Cross-tab"
  SInsAngledLabel, "Angled Label"
}
