# include "RM_Const.pas"

STRINGTABLE
{
 rmRes + 0, "查找文本"
 rmRes + 1, "待查文本"
 rmRes + 2, "选项"
 rmRes + 3, "大小写敏感"
 rmRes + 4, "起点"
 rmRes + 5, "首页"
 rmRes + 6, "当前页"
 rmRes + 7, "显示比例"
 rmRes + 8, "放大镜"
 rmRes + 9, "保存为excel格式文件"
 rmRes + 10, "修改报表"
 rmRes + 11, "预览工具栏"
 rmRes + 20, "页面宽度"
 rmRes + 21, "整页"
 rmRes + 22, "双页"
 rmRes + 23, "关闭预览"
 rmRes + 24, "页面设置"
 rmRes + 25, "打开报表"
 rmRes + 26, "保存报表"
 rmRes + 27, "打印报表"
 rmRes + 28, "查找文本"
 rmRes + 29, "编辑页..."
 rmRes + 30, "增加页"
 rmRes + 31, "删除页..."
 rmRes + 32, "第一页"
 rmRes + 33, "上一页"
 rmRes + 34, "下一页"
 rmRes + 35, "最后一页"
 rmRes + 40, "打印"
 rmRes + 41, "打印机"
 rmRes + 42, "属性"
 rmRes + 43, "打印份数"
 rmRes + 44, "页范围"
 rmRes + 45, "全部"
 rmRes + 46, "当前页"
 rmRes + 47, "页(&P):"
 rmRes + 48, "输入页号或页范围,逗号分隔.例如: 1,3,5-12"
 rmRes + 49, "名称:"
 rmRes + 50, "打印份数:"
 rmRes + 51, "逐份打印"
 rmRes + 52, "打印:"
 rmRes + 53, "全部页"
 rmRes + 54, "奇数页"
 rmRes + 55, "偶数页"
 rmRes + 56, "状态:"
 rmRes + 57, "类型:"
 rmRes + 58, "位置:"
 rmRes + 376, "打印当前页"
 rmRes + 377, "全字匹配"
 rmRes + 378, "文件:"
 rmRes + 379, "选项"
 rmRes + 380, "导出完成后显示"
 rmRes + 381, "显示导出过程"
 rmRes + 382, "每工作表页数(最多100页)"
; rmRes + 383, "请将出纸器中一打印好一面的纸取出并将其放回到送纸器中，然后按'确定'按钮，继续打印"
 rmRes + 384, "应用到所有页"

 rmRes + 1800, "文本导出选项"
 rmRes + 1801, "压缩空行"
 rmRes + 1802, "转换到DOS"
 rmRes + 1803, "导出框线"
 rmRes + 1804, "使用DOS伪图形"
 rmRes + 1805, "插入页分隔"
 rmRes + 1806, "缩放比例:"
 rmRes + 1810, "CSV 导出选项"
 rmRes + 1811, "CSV 分隔"
 rmRes + 1820, "RTF 导出选项"
 rmRes + 1821, "导出图片"
 rmRes + 1822, "转换表格"
 rmRes + 1830, "Html 导出选项"
 rmRes + 1807, "BMP 图片导出选项"
 rmRes + 1808, "单色"
 rmRes + 1809, "Metafile导出选项"
 rmRes + 1812, "灰度"
 rmRes + 1813, "显示编码进度"
 rmRes + 1814, "质量"
 rmRes + 1815, "1 = 最大压缩, 100 = 最高质量"
 rmRes + 1816, "图片格式"
 rmRes + 1817, "PDF 导出选项"
 rmRes + 1818, "图片目录:"
 rmRes + 1819, "每页有分隔线"
 rmRes + 1823, "显示导航条"
 rmRes + 1824, "Hover 前景色"
 rmRes + 1825, "背景颜色"
 rmRes + 1826, "Hover 背景色"
 rmRes + 1827, "链接选项"
 rmRes + 1828, "第一页:"
 rmRes + 1829, "上一页:"
 rmRes + 1799, "下一页:"
 rmRes + 1798, "最后一页:"
 rmRes + 1797, "图片"
 rmRes + 1796, "第一页"
 rmRes + 1795, "上一页"
 rmRes + 1794, "下一页"
 rmRes + 1793, "最后一页"
 rmRes + 1792, "使用文字链接"
 rmRes + 1791, "使用图片链接"
 rmRes + 1790, "Gif 图片导出选项"
 rmRes + 1789, "Jpeg 图片导出选项"
 rmRes + 1788, "分辨率:"
 rmRes + 1787, "导航条"
 rmRes + 1786, "一个文件"
 rmRes + 1785, "压缩率:"
 rmRes + 1784, "不压缩"
 rmRes + 1783, "最快"
 rmRes + 1782, "一般"
 rmRes + 1780, "导出成mht文件"
 rmRes + 1779, "XLS 导出选项"
 rmRes + 1778, "导出字体"
 rmRes + 1777, "多工作表"
 rmRes + 1776, "合并单元格"
 rmRes + 1775, "所见所得"

 rmRes + 1831, "备注:"
 rmRes + 1833, "打印机忙"
 rmRes + 1834, "Door Open"
 rmRes + 1835, "错误"
 rmRes + 1836, "正在初始化"
 rmRes + 1837, "IO Active"
 rmRes + 1838, "手动进纸"
 rmRes + 1839, "No Toner"
 rmRes + 1840, "不可用"
 rmRes + 1841, "没有联机"
 rmRes + 1842, "打印机内存满"
 rmRes + 1843, "出纸盒满"
 rmRes + 1844, "出纸"
 rmRes + 1845, "纸张堵塞"
 rmRes + 1846, "缺纸"
 rmRes + 1847, "纸张有问题"
 rmRes + 1848, "暂停"
 rmRes + 1849, "Pending Deletion"
 rmRes + 1850, "正在打印"
 rmRes + 1851, "正在处理"
 rmRes + 1852, "Toner Low"
 rmRes + 1853, "用户干涉"
 rmRes + 1854, "报警"
 rmRes + 1855, "正在预热"
 rmRes + 1856, "有%d篇文档正在等待打印"
 rmRes + 1857, "页面宽度"
 rmRes + 1858, "整页"
 rmRes + 1859, "双页"
 rmRes + 1860, "缩放"
 rmRes + 1861, "按纸型缩放:"
 rmRes + 1862, "无缩放"
 rmRes + 1863, "缩放比例:"
 rmRes + 1864, "打印"
 rmRes + 1865, "空闲"
 rmRes + 1866, "打印..."
 rmRes + 1867, "插入新页(之前)"
 rmRes + 1868, "插入新页(之后)"
 rmRes + 1869, "追加新页"
 rmRes + 1870, "打印机分辨率"
 rmRes + 1871, "显示导航栏"

;--- PgoptForm resources -----------------------------------------------------
  rmRes + 368, "自动设置页面长度(即打即停)"
  rmRes + 369, "彩色打印"
  rmRes + 371, "打印机:"
  rmRes + 372, "标题:"
  rmRes + 373, "其它"
  rmRes + 374, "两遍报表"
  rmRes + 375, "不打印背景图"
  rmRes + 390, "页面设置"
  rmRes + 391, "纸张类型"
  rmRes + 392, "打印方向"
  rmRes + 393, "纵向"
  rmRes + 394, "横向"
  rmRes + 395, "大小:"
  rmRes + 396, "宽度(厘米):"
  rmRes + 397, "高度(厘米):"
  rmRes + 398, "页边距"
  rmRes + 399, "预览"
  rmRes + 400, "左(厘米):"
  rmRes + 401, "上(厘米):"
  rmRes + 402, "右(厘米):"
  rmRes + 403, "下(厘米):"
  rmRes + 405, "其它"
  rmRes + 406, "选项"
  rmRes + 407, "打印到前一页"
  rmRes + 408, "分栏"
  rmRes + 409, "栏数:"
  rmRes + 410, "栏间隔(厘米):"
  rmRes + 411, "纸张来源"
  rmRes + 412, "纸张来源:"
  rmRes + 413, "不限制高度"
  rmRes + 370, "上偏移(厘米):"
  rmRes + 404, "左偏移(厘米):"
  rmRes + 414, "打印偏移"
  rmRes + 415, "自动转换Nulls值的字段为空值"
  rmRes + 213, "有一处或多处页边距设置了页面的可打印区域之外，是否自动调整页边距？"

  SDefaultBin, "缺省"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "自定义"
  SPaper800, "16开(18.4 x 26 厘米)"
  SPaper801, "32开(13 x 18.4 厘米)"
  SPaper802, "大32开(14 x 20.3 厘米)"
  SPaper803, "宽行连续纸"
  SPaper804, "窄行连续纸"

 SOk, "确认"
 SCancel, "取消"
 SYes, "是"
 SNo, "否"
 SPg, "页"
 SNotAssigned, "[无]"
 SDefaultPrinter, "默认打印机"
 SVirtualPrinter, "虚拟打印机"
 SBand1, "标题"
 SBand2, "总结"
 SBand3, "页标头"
 SBand4, "页注脚"
 SBand5, "数据标头"
 SBand6, "数据注脚"
 SBand7, "主项数据"
 SBand8, "细项数据"
 SBand9, "浮动"
 SBand10, "栏目标头"
 SBand11, "栏目注脚"
 SBand12, "分组标头"
 SBand13, "分组注脚"
 SBand14, "交叉表标头"
 SBand15, "交叉表数据"
 SBand16, "交叉表注脚"
 SBand17, "子栏"
 SBand18, "无"
 SCateg1, "文本"
 SCateg2, "数字"
 SCateg3, "日期"
 SCateg4, "时间"
 SCateg5, "布尔"

 SFormat11, "[无]"

 SFormat21, "1234.5"
 SFormat22, "1234.50"
 SFormat23, "1,234.5"
 SFormat24, "1,234.50"
 SFormat25, "自定义"

 SFormat31, "98.11.15"
 SFormat32, "1998.11.15"
 SFormat33, "1998年11月15日"
 SFormat34, "1998 11 15"
 SFormat35, "1998/11/15"
 SFormat36, "星期六 1998 11 15"
 SFormat37, "星期六 1998年11月15日"
 SFormat38, "自定义"

 SFormat41, "02:43:35"
 SFormat42, "2:43:35"
 SFormat43, "02:43"
 SFormat44, "2:43"
 SFormat45, "自定义"

 SFormat51, "0;1"
 SFormat52, "No;Yes"
 SFormat53, "_;x"
 SFormat54, "False;True"
 SFormat55, "自定义"

 SDateFormat1, "yy.mm.dd"
 SDateFormat2, "yyyy.mm.dd"
 SDateFormat3, "yyyy'年'mm'月'dd'日'"
 SDateFormat4, "yyyy MM dd"
 SDateFormat5, "yyyy/mm/dd"
 SDateFormat6, "dddd yyyy MM dd"
 SDateFormat7, "dddd yyyy'年'M'月'd'日'"

 STimeFormat1, "hh:nn:ss"
 STimeFormat2, "h:nn:ss"
 STimeFormat3, "hh:nn"
 STimeFormat4, "h:nn"

 SFrom, "从"
 SErrorOccured, "计算时发生错误"
 SDoc, "报表:"
 SObject, "对象:"
 SReportPreparing, "正在准备报表"
 SFirstPass, "第一次处理:"
 SPagePreparing, "正在处理页:"
 SError, "错误"
 SPreview, "预览"
 SPagePrinting, "正在打印页:"
 SUntitled, "Untitled"
 SPrinterError, "所选打印机错误"
 SRepFile, "Report 文件"
 STextFile, "ASCII Text 文件"
 SRTFFile, "Rich Text 文件"
 SCSVFile, "Excel 文件"
 SHTMFile, "Html 文件"
 SFont, "字体..."
 SCharset, "134"
 SDefaultCharset, "1"
 SRMDefaultFontSize, "9"
 SRMDefaultFontName, "宋体"
 SRMIsChineseGB, "1"
 SBarcodeError, "条码错误"
 SRMFError, "不支持的rmf格式"
 SUndefinedSymbol, "符号没定义"
 SRMCustomPaperSize, "自定义大小"
 SBMPFile, "位图文件(*.bmp)"
 SEMFFile, "Enhanced Metafile (*.emf)"
 SWMFFile, "Windows Metafile (*.wmf)"
 SGIFFile, "GIF Image File (*.gif)"
 SJPEGFile, "JPEG Image File (*.jpg)"
 SPDFFile, "Adobe Acrobat Document (*.pdf)"
 SNotRMFFile, "不是ReportMachine报表文件！"
 SNotRMDFile, "不是ReportMachine数据字典文件!"
 SNotRMPFile, "不是ReportMachine报表文件!"
 SNotRMTFile, "不是ReportMachine报表模板文件!"
 SWarning, "警告"
}

