#include "RM_Const.pas"

STRINGTABLE
{
  rmRes + 5001, "Active=激活"
  rmRes + 5002, "AliasName=数据表别名"
  rmRes + 5003, "HALign=水平对齐方式"
  rmRes + 5004, "AutoSize=自动大小"
  rmRes + 5005, "AutoWidth=自动宽度;如果内容过多，可以自动变宽"
  rmRes + 5006, "BandAlign=对齐"
  rmRes + 5007, "Barcode=条码"
  rmRes + 5008, "BeginColor=开始的颜色"
  rmRes + 5009, "BlobType=数据类型"
  rmRes + 5010, "PictureCenter=图片居中"
  rmRes + 5011, "BottomMargin=下边距"
  rmRes + 5012, "WordWrap=自动折行"
  rmRes + 5013, "Caption=标题"
  rmRes + 5014, "Center=居中"
  rmRes + 5015, "CharacterSpacing=字间距"
  rmRes + 5016, "CheckColor=检查框显示颜色"
  rmRes + 5017, "Checked=检查值"
  rmRes + 5018, "CheckStyle=检查框类型"
  rmRes + 5019, "ChildBand=子带区"
  rmRes + 5020, "Color=颜色"
  rmRes + 5021, "ColumnGap=栏间距"
  rmRes + 5022, "Columns=分栏数"
  rmRes + 5023, "ColumnWidth=栏宽"
  rmRes + 5024, "Connected=连接"
  rmRes + 5025, "GroupCondition=分组条件"
  rmRes + 5026, "DatabaseName=数据库名称"
  rmRes + 5027, "DataField=数据字段"
  rmRes + 5028, "DataSetName=数据源"
  rmRes + 5029, "DisplayFormat=显示格式"
  rmRes + 5030, "DriverName=驱动设备名称"
  rmRes + 5031, "Enabled="
  rmRes + 5032, "EndColor=结束颜色"
  rmRes + 5033, "Fields=字段"
  rmRes + 5034, "FillColor=填充颜色"
  rmRes + 5035, "Filter=过滤器"
  rmRes + 5036, "Font=字体"
  rmRes + 5037, "NewPageAfter=换页"
  rmRes + 5038, "PictureFormat=图片格式"
  rmRes + 5039, "PictureRatio=保持图片纵横比"
  rmRes + 5040, "PictureSource=图片来源"
  rmRes + 5041, "PictureStretched=图片缩放"
  rmRes + 5042, "GapLeft=文本左边距"
  rmRes + 5043, "GapTop=文本上边距"
  rmRes + 5044, "Gradient=渐变色"
  rmRes + 5045, "Height=高度"
  rmRes + 5046, "HideZeros=零值不显示"
  rmRes + 5047, "Highlight=高亮属性"
  rmRes + 5048, "IndexName=索引名称"
  rmRes + 5049, "Items=项目"
  rmRes + 5050, "KeepAspect=保持外观"
  rmRes + 5051, "KeyField=关键字段"
  rmRes + 5052, "Left=左边距"
  rmRes + 5053, "LeftMargin=左边距"
  rmRes + 5054, "Lines=行内容"
  rmRes + 5055, "LineSpacing=行间距"
  rmRes + 5056, "ListField=字段列表"
  rmRes + 5057, "ListSource=数据源列表"
  rmRes + 5058, "LoginPrompt=显示登录对话框"
  rmRes + 5059, "Master=主表"
  rmRes + 5060, "MasterFields=主表字段"
  rmRes + 5061, "MasterSource=主表源"
  rmRes + 5062, "Memo=内容"
  rmRes + 5063, "ModalResult=ModalResult值"
  rmRes + 5064, "Name=名称"
  rmRes + 5065, "OLE=Ole内容"
  rmRes + 5066, "AdjustColumns=多栏打印自动补齐;需要与AutoAppendBlank配合使用"
  rmRes + 5067, "ColumnOffset=栏目左偏移"
  rmRes + 5068, "OnClick=Click时执行代码"
  rmRes + 5069, "PrintOnFirstPage=在第一页"
  rmRes + 5070, "PrintOnLastPage=在最后一页"
  rmRes + 5071, "Orientation=方向;页面方向"
  rmRes + 5072, "Params=参数"
  rmRes + 5073, "Picture=图片"
  rmRes + 5074, "Position=位置"
  rmRes + 5075, "PrintChildIfInvisible=不可见时仍打印子带区"
  rmRes + 5076, "PrintIfSubsetEmpty=子表空白时仍打印"
  rmRes + 5077, "PrintToPrevPage=打印到前一页"
  rmRes + 5078, "ReadOnly=只读"
  rmRes + 5079, "ReprintOnNewColumn=新列时重复打印"
  rmRes + 5080, "Restrictions=限制"
  rmRes + 5081, "RightMargin=右边距"
  rmRes + 5082, "RoundRect=圆角显示"
  rmRes + 5083, "RoundSize=圆角弧度值"
  rmRes + 5084, "ShadowColor=阴影颜色"
  rmRes + 5085, "ShadowWidth=阴影宽度"
  rmRes + 5086, "Shape=形状"
  rmRes + 5087, "Size=大小;页面大小"
  rmRes + 5088, "SQL=SQL代码"
  rmRes + 5089, "Stretched=伸展;可以根据内容多少，自动增加高度，同时还需设置所在栏的Stretched属性"
  rmRes + 5090, "StretchToPrintable=伸展到可打印区域"
  rmRes + 5091, "Style=状态"
  rmRes + 5092, "SuppressRepeated=压缩重复值"
  rmRes + 5093, "TableName=表名"
  rmRes + 5094, "Tag=标记"
  rmRes + 5095, "Text=文字"
  rmRes + 5096, "TextOnly=纯文字"
  rmRes + 5097, "Top=上边距"
  rmRes + 5098, "TopMargin=上边距"
  rmRes + 5099, "Type=类型"
  rmRes + 5100, "Underlines=下划线"
  rmRes + 5101, "Visible=显示"
  rmRes + 5102, "Width=宽"
  rmRes + 5103, "SizeMode=对象大小模式"
  rmRes + 5104, "PenMode=画笔样式"
  rmRes + 5105, "Chart=统计图类型"
  rmRes + 5106, "ResetAfterPrint=打印后初始化"
  rmRes + 5107, "CalcType=计算类型"
  rmRes + 5108, "AutoAppendBlank=自动追加空行"
  rmRes + 5109, "PrintFrame=打印边框;专为套打设置，False:当选中[不打印背景图]时，打印时不打印边框"
  rmRes + 5110, "PrintVisiBle=打印时可见;专为套打设置，False:当选中[不打印背景图]时，打印时不打印"
  rmRes + 5111, "BackPicture=背景图图形;专为套打设置，当选中[不打印背景图]时,不打印背景图片"
  rmRes + 5112, "BackPictureLeft=背景图左边距"
  rmRes + 5113, "BackPictureTop=背景图上边距"
  rmRes + 5114, "onAfterPrint=打印后执行的代码"
  rmRes + 5115, "SaveValue=保存计算后的值"
  rmRes + 5116, "WordBreak=字中断"
  rmRes + 5117, "RTLReading="
  rmRes + 5118, "PageBreaked=中断"
  rmRes + 5119, "LinesPerPage=每页记录数"
  rmRes + 5120, "PrintColFirst=先列后行"
  rmRes + 5121, "RangeBegin=数据集记录开始位置"
  rmRes + 5122, "RangeEnd=数据集记录结束位置"
  rmRes + 5123, "RangeEndCount=数据集记录数"
  rmRes + 5124, "TotalCalc=总计"
  rmRes + 5125, "DataBand=数据源Band"
  rmRes + 5126, "CurrencySymbol=货币符号"
  rmRes + 5127, "DecimalNumber=小数位"
  rmRes + 5128, "DecimalSeparatorColor=小数位颜色"
  rmRes + 5129, "DigitalNumber=数字个数"
  rmRes + 5130, "GridLineColor="
  rmRes + 5131, "GridLineWidth="
  rmRes + 5132, "IsTitle="
  rmRes + 5133, "KilobitSeparatorColor=千分位颜色"
  rmRes + 5134, "RotationType=文字方向"
  rmRes + 5135, "MergeRepeated=合并重复值单元格"
  rmRes + 5136, "MangeTag=处理字符串中的标记;处理字符串中的标记,标记:上标：m~4|,下标：M_4|,强制换行:`是换行符"
  rmRes + 5137, "ScaleFontSize=自动缩放字体大小"
  rmRes + 5138, "AutoHCenter=对象水平自动居中"
  rmRes + 5139, "HeaderHeight=横向标题栏高度;设置每个横标题栏高度(包含标题栏),例如:30;20;20"
  rmRes + 5140, "HeaderWidth=竖向标题栏宽度;设置每个竖标题栏宽度(包含序号列),例如:50;80;100"
  rmRes + 5141, "ShowRowNo=显示序号"
  rmRes + 5142, "ScaleFontType=缩放字体类型;ByWidth:按宽度缩放;ByHeight:按高度缩放"
  rmRes + 5143, "OutBigNum=转换成大写;转换内容为人民币大写形式"
  rmRes + 5144, "FontScaleWidth=字体宽度;设置此属性可显示扁体字，长体字等特殊形状的字体"
  rmRes + 5145, "PrintAtAppendBlank=在增加空行时显示;为True时:自动空行时也显示;为False时:自动空行时不显示"
  rmRes + 5146, "Transparent=透明"
  rmRes + 5147, "MasterMemoView=Master文本框;设置合并单元格的Parent文本框"
  rmRes + 5148, "AutoVCenter=对象垂直自动居中"
  rmRes + 5149, "Charset=字符集"
  rmRes + 5150, "Brush=画刷"
  rmRes + 5151, "Pen=画笔"
  rmRes + 5152, "Duplex=双面打印"
  rmRes + 5153, "NewPrintJob=新的打印任务"
  rmRes + 5154, "ResetPageNo=重置页号"
  rmRes + 5155, "ShowBackPicture=显示背景图片"
  rmRes + 5156, "HideIfEmpty=空时隐藏"
  rmRes + 5157, "ParentFont=使用Parent字体"
  rmRes + 5158, "KeepFooter=保持注脚在同一页"
  rmRes + 5159, "KeepTogether=保持在同一页"
  rmRes + 5160, "PrintatDesignPos=在设计位置打印"
  rmRes + 5161, "PrintColumnFirst=先列后行;多栏打印时，先列后行"
  rmRes + 5162, "ReprintOnNewPage=新页时重复打印"
  rmRes + 5163, "PrintOnSummaryBand=在总结栏前面打印"
  rmRes + 5164, "Datasource=数据源"
  rmRes + 5165, "BottomFrame=下边框"
  rmRes + 5171, "RightFrame=右边框"
  rmRes + 5168, "TopFrame=上边框"
  rmRes + 5181, "LeftFrame=左边框"
  rmRes + 5166, "ExportAsNumber=按数字型导出"
  rmRes + 5167, "VAlign=垂直对齐方式"
  rmRes + 5169, "StretchWith=保持伸展"
  rmRes + 5170, "ShiftWith=垂直方向保持相对记录"
  rmRes + 5172, "RepeatedOptions=重复值打印"
  rmRes + 5173, "Pitch=倾斜度"
  rmRes + 5174, "rmrtDontModify=不能修改"
  rmRes + 5175, "rmrtDontSize=不能改变大小"
  rmRes + 5176, "rmrtDontMove=不能移动"
  rmRes + 5177, "rmrtDontDelete=不能删除"
  rmRes + 5178, "rmrtDontEditMemo=不能编辑内容"
  rmRes + 5179, "ParentHeight=使用Parent高度"
  rmRes + 5180, "ParentWidth=使用Parent宽度"
  rmRes + 5182, "ReprintOnOverFlow=伸展溢出时重复打印"
  rmRes + 5183, "CalcOptions=统计选项"
  rmRes + 5184, "CalcNoVisible=统计不可见行"
  rmRes + 5185, "AggrBandname=统计栏"
  rmRes + 5186, "AggregateValue=自定义统计公式"
  rmRes + 5187, "IntalizeValue=自定义统计初始值"
  rmRes + 5188, "BorderStyle=边框类型"
  rmRes + 5189, "ChartDim3D=3D显示"
  rmRes + 5190, "ChartShowAxis=显示坐标轴"
  rmRes + 5191, "ChartShowLegend=显示图例"
  rmRes + 5192, "PrintType=打印方式"
  rmRes + 5193, "UseChartSetting=使用Chart编辑器;使用TChart带的编辑器"
  rmRes + 5194, "GridLineColor=竖线颜色"
  rmRes + 5195, "GridLineWidth=竖线线条宽度"
  rmRes + 5196, "Alignment=水平对齐方式"
  rmRes + 5197, "Enabled=激活"
  rmRes + 5198, "TabOrder=Tab键顺序"
  rmRes + 5199, "Cancel=取消"
  rmRes + 5200, "Default=默认按钮"
  rmRes + 5201, "ItemIndex=默认选择项"
  rmRes + 5202, "Date=日期"
  rmRes + 5203, "DateFormat=日期格式"
  rmRes + 5204, "Time=时间"
  rmRes + 5205, "Parameters=参数"
  rmRes + 5206, "UseSQLBuilder=使用查询设计器"
  rmRes + 5207, "ConnectionString=数据库连接字符串"
  rmRes + 5208, "CursorLocation=数据库游标类型"
  rmRes + 5209, "IsTitle=是否是标题"
  rmRes + 5210, "OutlineText=预览概要"
  rmRes + 5211, "BrushStyle=画刷类型"
  rmRes + 5212, "url=超级连接"
  rmRes + 5213, "StretchedMax=伸展到最大高度"
  rmRes + 5214, "Printable=可以打印"
  rmRes + 5215, "ExpressionDelimiters=表达式分隔符"
  rmRes + 5216, "Cursor=光标形状"
  rmRes + 5217, "DBFieldOnly=内容是一个字段"
  rmRes + 5218, "DisplayBeginLine="
  rmRes + 5219, "DisplayEndLine="
  rmRes + 5220, "DirectDraw=直接画到画布上"
  rmRes + 5221, "IsCurrency=是货币型数字"
  rmRes + 5222, "ResultExpression=表达式"
  rmRes + 5223, "ColumnCount=分栏数"
  rmRes + 5224, "KeepChild="
  rmRes + 5225, "AlignToBottom="
  rmRes + 5226, "DataBandName=数据栏"
  rmRes + 5227, "NewPageCondition=换页表达式"
  rmRes + 5228, "PrintCondition="
  rmRes + 5229, "PrintIfEmpty=数据集空时也打印"
  rmRes + 5230, "MasterBandName=主项数据栏"
  rmRes + 5231, "PrintBeforeSummaryBand=在总结栏前打印"
  rmRes + 5232, "GroupHeaderBandName=分组标头栏"
}
