body {
}
.left
{
    vertical-align:top;
    width:180px;
    height:auto;
    }
.top
{
    height:100px;
    }
.maintable
{
    width:1024px;
    height:748px;
    }
input[type=text] 
{ width:240px;
    }
