#include "RM_Const.pas"

STRINGTABLE
{
  rmRes + 5001, "Active="
  rmRes + 5002, "AliasName="
  rmRes + 5003, "Alignment="
  rmRes + 5004, "AutoSize="
  rmRes + 5005, "AutoWidth="
  rmRes + 5006, "BandAlign="
  rmRes + 5007, "Barcode="
  rmRes + 5008, "BeginColor="
  rmRes + 5009, "BlobType="
  rmRes + 5010, "BorderStyle="
  rmRes + 5011, "BottomMargin="
  rmRes + 5012, "WordWrap="
  rmRes + 5013, "Caption="
  rmRes + 5014, "Center="
  rmRes + 5015, "CharSpacing="
  rmRes + 5016, "CheckColor="
  rmRes + 5017, "Checked="
  rmRes + 5018, "CheckStyle="
  rmRes + 5019, "ChildBand="
  rmRes + 5020, "Color="
  rmRes + 5021, "ColumnGap="
  rmRes + 5022, "Columns="
  rmRes + 5023, "ColumnWidth="
  rmRes + 5024, "Connected="
  rmRes + 5025, "Condition="
  rmRes + 5026, "DatabaseName="
  rmRes + 5027, "DataField="
  rmRes + 5028, "DataSource="
  rmRes + 5029, "DisplayFormat="
  rmRes + 5030, "DriverName="
  rmRes + 5031, "Enabled="
  rmRes + 5032, "EndColor="
  rmRes + 5033, "Fields="
  rmRes + 5034, "FillColor="
  rmRes + 5035, "Filter="
  rmRes + 5036, "Font="
  rmRes + 5037, "FormNewPage="
  rmRes + 5038, "FrameColor="
  rmRes + 5039, "FrameStyle="
  rmRes + 5040, "FrameTyp="
  rmRes + 5041, "FrameWidth="
  rmRes + 5042, "GapX="
  rmRes + 5043, "GapY="
  rmRes + 5044, "Gradient="
  rmRes + 5045, "Height="
  rmRes + 5046, "HideZeros="
  rmRes + 5047, "Highlight="
  rmRes + 5048, "IndexName="
  rmRes + 5049, "Items="
  rmRes + 5050, "KeepAspect="
  rmRes + 5051, "KeyField="
  rmRes + 5052, "Left="
  rmRes + 5053, "LeftMargin="
  rmRes + 5054, "Lines="
  rmRes + 5055, "LineSpacing="
  rmRes + 5056, "ListField="
  rmRes + 5057, "ListSource="
  rmRes + 5058, "LoginPrompt="
  rmRes + 5059, "Master="
  rmRes + 5060, "MasterFields="
  rmRes + 5061, "MasterSource="
  rmRes + 5062, "Memo="
  rmRes + 5063, "ModalResult="
  rmRes + 5064, "Name="
  rmRes + 5065, "OLE="
  rmRes + 5066, "OnActivate="
  rmRes + 5067, "OnBeforePrint="
  rmRes + 5068, "OnClick="
  rmRes + 5069, "OnFirstPage="
  rmRes + 5070, "OnLastPage="
  rmRes + 5071, "Orientation="
  rmRes + 5072, "Params="
  rmRes + 5073, "Picture="
  rmRes + 5074, "Position="
  rmRes + 5075, "PrintChildIfInvisible="
  rmRes + 5076, "PrintIfSubsetEmpty="
  rmRes + 5077, "PrintToPrevPage="
  rmRes + 5078, "ReadOnly="
  rmRes + 5079, "RepeatHeader="
  rmRes + 5080, "Restrictions="
  rmRes + 5081, "RightMargin="
  rmRes + 5082, "RoundRect="
  rmRes + 5083, "RoundSize="
  rmRes + 5084, "ShadowColor="
  rmRes + 5085, "ShadowWidth="
  rmRes + 5086, "Shape="
  rmRes + 5087, "Size="
  rmRes + 5088, "SQL="
  rmRes + 5089, "Stretched="
  rmRes + 5090, "StretchToPrintable="
  rmRes + 5091, "Style="
  rmRes + 5092, "Suppress="
  rmRes + 5093, "TableName="
  rmRes + 5094, "Tag="
  rmRes + 5095, "Text="
  rmRes + 5096, "TextOnly="
  rmRes + 5097, "Top="
  rmRes + 5098, "TopMargin="
  rmRes + 5099, "Type="
  rmRes + 5100, "Underlines="
  rmRes + 5101, "Visible="
  rmRes + 5102, "Width="
  rmRes + 5103, "SizeMode="
  rmRes + 5104, "PenMode="
  rmRes + 5105, "Chart="
  rmRes + 5106, "ResetAfterPrint="
  rmRes + 5107, "DBCalcType="
  rmRes + 5108, "AutoAppendBlank="
  rmRes + 5109, "PrintFrame="
  rmRes + 5110, "PrintVisiBle="
  rmRes + 5111, "Background="
  rmRes + 5112, "BackgroundLeft="
  rmRes + 5113, "BackgroundTop="
  rmRes + 5114, "onAfterPrint="
  rmRes + 5115, "SaveValue="
  rmRes + 5116, "WordBreak="
  rmRes + 5117, "RTLReading="
  rmRes + 5118, "Breaked="
  rmRes + 5119, "LinesPerPage="
  rmRes + 5120, "PrintColFirst="
  rmRes + 5121, "RangeBegin="
  rmRes + 5122, "RangeEnd="
  rmRes + 5123, "RangeEndCount="
  rmRes + 5124, "TotalCalc="
  rmRes + 5125, "DataBand="
  rmRes + 5126, "CurrencySymbol="
  rmRes + 5127, "DecimalNumber="
  rmRes + 5128, "DecimalSeparatorColor="
  rmRes + 5129, "DigitalNumber="
  rmRes + 5130, "GridLineColor="
  rmRes + 5131, "GridLineWidth="
  rmRes + 5132, "IsTitle="
  rmRes + 5133, "KilobitSeparatorColor="
}
