# include "RM_Const.pas"

STRINGTABLE
{
 rmRes + 0, "Find Text"
 rmRes + 1, "Text to &find"
 rmRes + 2, "Options"
 rmRes + 3, "&Case sensitive"
 rmRes + 4, "Origin"
 rmRes + 5, "&1st page"
 rmRes + 6, "Current &page"
 rmRes + 7, "Display Scale"
 rmRes + 8, "Magnifier"
 rmRes + 9, "Save to xls file"
 rmRes + 10, "Modify Report"
 rmRes + 11, "Preview Toolbar"
 rmRes + 20, "&Page width"
 rmRes + 21, "&Whole page"
 rmRes + 22, "&Two pages"
 rmRes + 23, "Close preview"
 rmRes + 24, "Page Setup"
 rmRes + 25, "Open report"
 rmRes + 26, "Save report"
 rmRes + 27, "Print report"
 rmRes + 28, "Fint text"
 rmRes + 29, "Edit page..."
 rmRes + 30, "Add page"
 rmRes + 31, "Delete page..."
 rmRes + 32, "First"
 rmRes + 33, "Prior"
 rmRes + 34, "Next"
 rmRes + 35, "Last"
 rmRes + 40, "Print"
 rmRes + 41, "Printer"
 rmRes + 42, "Properties"
 rmRes + 43, "Copies"
 rmRes + 44, "Page range"
 rmRes + 45, "&All"
 rmRes + 46, "Current pa&ge"
 rmRes + 47, "&Pages:"
 rmRes + 48, "Enter page numbers and/or page ranges, separated by commas. For example, 1,3,5-12"
 rmRes + 49, "&Name:"
 rmRes + 50, "Number of &copies:"
 rmRes + 51, "Co&llate"
 rmRes + 52, "P&rint:"
 rmRes + 53, "All pages"
 rmRes + 54, "Odd pages"
 rmRes + 55, "Even pages"
 rmRes + 56, "Status:"
 rmRes + 57, "Type:"
 rmRes + 58, "Position:"
 rmRes + 376, "Print Current Page"
 rmRes + 377, "Whole words only"
 rmRes + 378, "File name"
 rmRes + 379, "Options"
 rmRes + 380, "Show After export"
 rmRes + 381, "Show Excel"
 rmRes + 382, "Pages of sheet (Max 100)"
 rmRes + 383, "One ot More Margin less then Printable Margin, Auto Set Margin?"
 rmRes + 384, "Apply to All Pages"

 rmRes + 1800, "TXT export options"
 rmRes + 1801, "&Kill empty lines"
 rmRes + 1802, "Convert to &DOS"
 rmRes + 1803, "Export &frames"
 rmRes + 1804, "Use DOS &pseudographic"
 rmRes + 1805, "Insert page &breaks"
 rmRes + 1806, "Scaling factor"
 rmRes + 1810, "CSV export options"
 rmRes + 1811, "&CSV delimiter"
 rmRes + 1820, "RTF export options"
 rmRes + 1821, "Export &pictures"
 rmRes + 1822, "Convert to &table"
 rmRes + 1830, "Html Export Options"
 rmRes + 1807, "BMP Export Options"
 rmRes + 1808, "Monochrome"
 rmRes + 1809, "Metafile Export Options"
 rmRes + 1812, "Grayscale"
 rmRes + 1813, "Progressive Encoding"
 rmRes + 1814, "Quality"
 rmRes + 1815, "1 = Max Compress, 100 = Max Quality"
 rmRes + 1816, "Export Image Format"
 rmRes + 1817, "PDF Export Options"
 rmRes + 1818, "Image Folder:"
 rmRes + 1819, "Separate File Per Page"
 rmRes + 1823, "Show Navigator"
 rmRes + 1824, "Hover Foreground Color"
 rmRes + 1825, "Background Color"
 rmRes + 1826, "Hover Background Color"
 rmRes + 1827, "Navigator"
 rmRes + 1828, "First:"
 rmRes + 1829, "Previous:"
 rmRes + 1799, "Next:"
 rmRes + 1798, "Last:"
 rmRes + 1797, "Image Source"
 rmRes + 1796, "First:"
 rmRes + 1795, "Previous:"
 rmRes + 1794, "Next:"
 rmRes + 1793, "Last:"
 rmRes + 1792, "Use Text Links"
 rmRes + 1791, "Use Graphic Links"
 rmRes + 1790, "Gif Export Options"
 rmRes + 1789, "Jpeg Export Options"
 rmRes + 1788, "PixelFormat:"
 rmRes + 1787, "Navigator"
 rmRes + 1786, "Single File"
 rmRes + 1785, "Compression Level:"
 rmRes + 1784, "None"
 rmRes + 1783, "Fastest"
 rmRes + 1782, "Normal"
 rmRes + 1781, "MaxCompress"
 rmRes + 1779, "XLS Export options"
 rmRes + 1778, "Export Styles"
 rmRes + 1777, "Multi Sheet"
 rmRes + 1776, "Merge cells"
 rmRes + 1775, "WYSIWYG"

 rmRes + 1831, "Common:"
 rmRes + 1833, "Printer Busy"
 rmRes + 1834, "Door Open"
 rmRes + 1835, "Error"
 rmRes + 1836, "Initializing"
 rmRes + 1837, "IO Active"
 rmRes + 1838, "Manual feed"
 rmRes + 1839, "No Toner"
 rmRes + 1840, "Not available"
 rmRes + 1841, "Offline"
 rmRes + 1842, "Out of Memory"
 rmRes + 1843, "Output bin Full"
 rmRes + 1844, "Page punt"
 rmRes + 1845, "Paper jam"
 rmRes + 1846, "Paper out"
 rmRes + 1847, "Paper problem"
 rmRes + 1848, "Paused"
 rmRes + 1849, "Pending Deletion"
 rmRes + 1850, "Printing"
 rmRes + 1851, "Processing"
 rmRes + 1852, "Toner Low"
 rmRes + 1853, "User intervention"
 rmRes + 1854, "Warning"
 rmRes + 1855, "Warming up"
 rmRes + 1856, "%d doc waiting for print"
 rmRes + 1857, "Page Width"
 rmRes + 1858, "Whole Page"
 rmRes + 1859, "Double Page"
 rmRes + 1860, "Scale"
 rmRes + 1861, "Scale by Paper:"
 rmRes + 1862, "No Scale"
 rmRes + 1863, "Scale Factor:"
 rmRes + 1864, "Printing"
 rmRes + 1865, "Ready"
 rmRes + 1866, "Print..."
 rmRes + 1867, "Insert Before"
 rmRes + 1868, "Insert After"
 rmRes + 1869, "Append"
 rmRes + 1870, "Printer DPI"
 rmRes + 1871, "Show outline"

;--- PgoptForm resources -----------------------------------------------------
  rmRes + 368, "Auto Set PageLength"
  rmRes + 369, "Print multicolor"
  rmRes + 371, "Printer"
  rmRes + 372, "Title:"
  rmRes + 373, "Other"
  rmRes + 374, "&Two-pass report"
  rmRes + 375, "Print BackGroup Picture"
  rmRes + 390, "Page Setup"
  rmRes + 391, "Paper"
  rmRes + 392, "Orientation"
  rmRes + 393, "Portrait"
  rmRes + 394, "Landscape"
  rmRes + 395, "Size"
  rmRes + 396, "Width, cm"
  rmRes + 397, "Height, cm"
  rmRes + 398, "Margins"
  rmRes + 399, "Preview"
  rmRes + 400, "Left, cm"
  rmRes + 401, "Top, cm"
  rmRes + 402, "Right, cm"
  rmRes + 403, "Bottom, cm"
  rmRes + 405, "Other"
  rmRes + 406, "Options"
  rmRes + 407, "Print to previous page"
  rmRes + 408, "Columns"
  rmRes + 409, "Number"
  rmRes + 410, "Gap, cm"
  rmRes + 411, "Source"
  rmRes + 412, "Paper source"
  rmRes + 413, "Unlimited height"
  rmRes + 414, "Print Offset"
  rmRes + 415, "Convert Null Field to empty Value"

  rmRes + 370, "Top, cm"
  rmRes + 404, "Left, cm"

  SDefaultBin, "Default"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Custom"
  SPaper800, "16K(18.4 x 26 cm)"
  SPaper801, "32K(13 x 18.4 cm)"
  SPaper802, "Big 32K(14 x 20.3 cm)"
  SPaper803, "US Std Fanfold"
  SPaper804, "Letter Transverse"

  SOk, "OK"
  SCancel, "Cancel"
  SYes, "Yes"
  SNo, "No"
  SPg, "Page"
  SNotAssigned, "[None]"
  SDefaultPrinter, "Default Printer"
  SVirtualPrinter, "Virtual Printer"

  SBand1, "Report Title"
  SBand2, "Report Summary"
  SBand3, "Page Header"
  SBand4, "Page Footer"
  SBand5, "Data Header"
  SBand6, "Data Footer"
  SBand7, "Master Data"
  SBand8, "Detail Data"
  SBand9, "Overlay"
  SBand10, "Column Header"
  SBand11, "Column Footer"
  SBand12, "Group Header"
  SBand13, "Group Footer"
  SBand14, "Cross Header"
  SBand15, "Cross Data"
  SBand16, "Cross Footer"
  SBand17, "Child"
  SBand18, "None"

  SCateg1, "Text"
  SCateg2, "Number"
  SCateg3, "Date"
  SCateg4, "Time"
  SCateg5, "Boolean"

  SFormat11, "[None]"

  SFormat21, "1234.5"
  SFormat22, "1234.50"
  SFormat23, "1,234,5"
  SFormat24, "1,234.50"
  SFormat25, "Custom"

  SFormat31, "98.11.15"
  SFormat32, "1998.11.15"
  SFormat33, "1998 11 15"
  SFormat34, "1998 11 15"
  SFormat35, "1998/11/15"
  SFormat36, "Staturday 1998 11 15"
  SFormat37, "Staturday 1998 11 15"
  SFormat38, "Custom"

  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Custom"

  SFormat51, "0;1"
  SFormat52, "No;Yes"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Custom"

  SDateFormat1, "yy.mm.dd"
  SDateFormat2, "yyyy.mm.dd"
  SDateFormat3, "yyyy MM dd"
  SDateFormat4, "yyyy MM dd"
  SDateFormat5, "yyyy/mm/dd"
  SDateFormat6, "dddd yyyy MM dd"
  SDateFormat7, "dddd yyyy MM dd"

  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"

  SFrom, "from"
  SErrorOccured, "An error occured during calculating"
  SDoc, "Report:"
  SObject, "Object:"
  SReportPreparing, "Preparing report"
  SFirstPass, "First pass:"
  SPagePreparing, "Processing page:"
  SError, "Error"
  SPreview, "Preview"
  SPagePrinting, "Printing page:"
  SUntitled, "Untitled"
  SPrinterError, "Printer selected is not valid"
  SRepFile, "Report file"
  STextFile, "ASCII Text file"
  SRTFFile, "Rich Text file"
  SCSVFile, "Excel File"
  SHTMFile, "Html file"
  SFont, "Font..."
  SCharset, "1"
  SDefaultCharset, "1"
  SRMDefaultFontSize, "8"
  SRMDefaultFontName, "MS Sans Serif"
  SRMIsChineseGB, "0"
  SBarcodeError, "Error in barcode"
  SRMFError, "Unsupported rmf format"
  SUndefinedSymbol, "Undefined symbol"
  SRMCustomPaperSize, "Custom Size"
  SBMPFile, "Bitmap file(*.bmp)"
  SEMFFile, "Enhanced Metafile (*.emf)"
  SWMFFile, "Windows Metafile (*.wmf)"
  SGIFFile, "GIF Image File (*.gif)"
  SJPEGFile, "JPEG Image File (*.jpg)"
  SPDFFile, "Adobe Acrobat Document (*.pdf)"
  SWarning, "Warning"
}

