#include "RM_Const.pas"

STRINGTABLE
{
;--- EditorForm resources ----------------------------------------------------
  rmRes + 60, "Text editor"
  rmRes + 61, "Insert expression"
  rmRes + 62, "Insert data field"
  rmRes + 63, "Word wrap"
  rmRes + 64, "Show/hide script"
  rmRes + 65, "Field"

;--- InspForm resources ------------------------------------------------------
  rmRes + 70, "Object inspector"
  rmRes + 71, "Properties"
  rmRes + 72, "Events"

;--- FRDesignerForm resources ------------------------------------------------
  rmRes + 80, "Designer"
  rmRes + 81, "Standard"
  rmRes + 82, "Text"
  rmRes + 83, "Border"
  rmRes + 84, "Alignment"
  rmRes + 85, "Size"
  rmRes + 86, "Objects"
  rmRes + 87, "New report"
  rmRes + 88, "Open report..."
  rmRes + 89, "Save report"
  rmRes + 90, "Preview report"
  rmRes + 91, "Cut"
  rmRes + 92, "Copy"
  rmRes + 93, "Paste"
  rmRes + 94, "Undo last action"
  rmRes + 95, "Redo cancelled action"
  rmRes + 96, "Bring to front"
  rmRes + 97, "Send to back"
  rmRes + 98, "Select all"
  rmRes + 99, "Add page"
  rmRes + 100, "Remove page"
  rmRes + 101, "Page options"
  rmRes + 102, "Grid"
  rmRes + 103, "Grid align"
  rmRes + 104, "Fit to grid"
  rmRes + 106, "Close"
  rmRes + 107, "Left align"
  rmRes + 108, "Right align"
  rmRes + 109, "Center align"
  rmRes + 110, "Inser DB Fields"
  rmRes + 111, "Vertical center"
  rmRes + 112, "Top align"
  rmRes + 113, "Bottom align"
  rmRes + 114, "Width align"
  rmRes + 115, "Bold"
  rmRes + 116, "Italic"
  rmRes + 117, "Underline"
  rmRes + 118, "Font color"
  rmRes + 119, "Conditional highlightning"
  rmRes + 120, "Font size"
  rmRes + 121, "Font name"
  rmRes + 122, "Top frame line"
  rmRes + 123, "Left frame line"
  rmRes + 124, "Bottom frame line"
  rmRes + 125, "Right frame line"
  rmRes + 126, "All frame lines"
  rmRes + 127, "No frame"
  rmRes + 128, "Background color"
  rmRes + 129, "Frame color"
;  rmRes + 130, "Frame width"
;  rmRes + 131, "Frame width"
  rmRes + 132, "Select object"
  rmRes + 133, "Insert rectangle object"
  rmRes + 134, "Insert band"
  rmRes + 135, "Insert picture"
  rmRes + 136, "Insert subreport"
  rmRes + 137, "Insert DBCalc object"
  rmRes + 138, "Align left edges"
  rmRes + 139, "Align horizontal centers"
  rmRes + 140, "Space equally, horizontal"
  rmRes + 141, "Center horizontally in window"
  rmRes + 142, "Align right edges"
  rmRes + 143, "Align tops"
  rmRes + 144, "Space equally, vertically"
  rmRes + 145, "Center vertically in window"
  rmRes + 146, "Center vertically in window"
  rmRes + 147, "Align bottoms"
  rmRes + 148, "C&ut"
  rmRes + 149, "&Copy"
  rmRes + 150, "&Paste"
  rmRes + 151, "&Delete"
  rmRes + 152, "Select &all"
  rmRes + 153, "&Edit..."
  rmRes + 154, "&File"
  rmRes + 155, "&New..."
  rmRes + 156, "&Open..."
  rmRes + 157, "&Save"
  rmRes + 158, "&Data dictionary..."
  rmRes + 159, "&Print..."
  rmRes + 160, "&Page options..."
  rmRes + 161, "Pre&view"
  rmRes + 162, "E&xit"
  rmRes + 163, "&Edit"
  rmRes + 164, "&Undo"
  rmRes + 165, "&Redo"
  rmRes + 166, "C&ut"
  rmRes + 167, "&Copy"
  rmRes + 168, "&Paste"
  rmRes + 169, "&Delete"
  rmRes + 170, "&Select all"
  rmRes + 171, "&Edit..."
  rmRes + 172, "&Add page"
  rmRes + 173, "&Remove page"
  rmRes + 174, "Bring to &front"
  rmRes + 175, "Send to &back"
  rmRes + 176, "&Tools"
  rmRes + 177, "&Toolbars"
  rmRes + 178, "Too&ls"
  rmRes + 179, "&Options..."
  rmRes + 180, "Frame"
  rmRes + 181, "&Standard"
  rmRes + 182, "&Text"
  rmRes + 183, "&Objects"
  rmRes + 184, "Object &Inspector"
  rmRes + 185, "&Alignment palette"
  rmRes + 186, "Too&ls"
  rmRes + 187, "&About..."
  rmRes + 188, "Save &as..."
  rmRes + 189, "&Help contents"
  rmRes + 190, "&Help"
  rmRes + 191, "Line style"
  rmRes + 192, "Add dialog &form"
  rmRes + 193, "Add dialog form"
  rmRes + 194, "Border Size"
  rmRes + 195, "Designer"
  rmRes + 196, "Preview"
  rmRes + 197, "Inser CalcMemo View"
  rmRes + 198, "Frame Width"
  rmRes + 199, "Left Next Right"
  rmRes + 200, "Tools"
  rmRes + 201, "Insert Chinese Money View"
  rmRes + 202, "Shrink Width to Smallest"
  rmRes + 203, "Shrink Width to Largest"
  rmRes + 204, "Shrink Height to Smallest"
  rmRes + 205, "Shrink Height to Largest"
  rmRes + 105, "Designer"
  rmRes + 206, "Grid"
  rmRes + 207, "Preview"
  rmRes + 208, "Font Color"
  rmRes + 209, "Fill Color"
  rmRes + 210, "Frame Color"
  rmRes + 211, "Property..."
  rmRes + 212, "Auto Align"
  rmRes + 214, "Frame..."
  rmRes + 215, "Vertical Next with Last"
  rmRes + 216, "Property..."
  rmRes + 217, "Find && Replace..."
  rmRes + 218, "First"
  rmRes + 219, "Prev"
  rmRes + 220, "Next"
  rmRes + 221, "Last"
  rmRes + 222, "AutoSave"
  rmRes + 223, "Import Dictionary..."
  rmRes + 224, "Merge Dictionary..."
  rmRes + 225, "Export Dictionary..."
  rmRes + 226, "Lock Controls"
  rmRes + 227, "Delete Band"
  rmRes + 228, "Desrease Width"
  rmRes + 229, "Increase Width"
  rmRes + 230, "Desrease Height"
  rmRes + 231, "Increase Height"
  rmRes + 232, "Diagonal "
  rmRes + 233, "Diagonal "
  rmRes + 234, "Rectangle"
  rmRes + 235, "Inside Border"
  rmRes + 236, "Insert Column"
  rmRes + 237, "Insert Row"
  rmRes + 238, "Add Column"
  rmRes + 239, "Add Row"
  rmRes + 240, "Delete Column"
  rmRes + 241, "Delete Row"
  rmRes + 242, "Merge Column"
  rmRes + 243, "Merge Row"
  rmRes + 244, "Grid Toolbar"
  rmRes + 245, "Row"
  rmRes + 246, "Column"
  rmRes + 247, "Row Height..."
  rmRes + 248, "Average Row Height"
  rmRes + 249, "Column Width..."
  rmRes + 250, "Average Column Width"
  rmRes + 251, "MenuBar"
  rmRes + 252, "Inser Cell"
  rmRes + 253, "Code"
  rmRes + 254, "Search"
  rmRes + 255, "Find..."
  rmRes + 256  "Replace..."
  rmRes + 257, "Search Again"
  rmRes + 258, "Left Cell"
  rmRes + 259, "Top Cell"
  rmRes + 260, "Common"
  rmRes + 261, "Position"
  rmRes + 262, "Width:"
  rmRes + 263, "Height:"
  rmRes + 264, "level"
  rmRes + 265, "cols"
  rmRes + 266, "Encrypt Level"
  rmRes + 267, "rows"
  rmRes + 268, "Left Cell"
  rmRes + 269, "Top Cell"
  rmRes + 270, "Exchange page position"

;--- DesOptionsForm resources ------------------------------------------------
  rmRes + 280, "Options"
  rmRes + 281, "Designer"
  rmRes + 282, "Grid"
  rmRes + 283, "Drawing objects"
  rmRes + 284, "Report units"
  rmRes + 285, "Grid size"
  rmRes + 286, "&Show grid"
  rmRes + 287, "Align to &grid"
  rmRes + 288, "Colored &buttons"
  rmRes + 289, "&4 pixels"
  rmRes + 290, "&8 pixels"
  rmRes + 291, "&18 pixels (5mm)"
  rmRes + 293, "Show object &contents when moving or resizing"
  rmRes + 294, "&Pixels"
  rmRes + 295, "&MM"
  rmRes + 296, "&Inches"
  rmRes + 297, "Other"
  rmRes + 298, "&Editing after insert"
  rmRes + 299, "Show band &titles"
  rmRes + 300, "Page position"
  rmRes + 301, "Cente&r"
  rmRes + 302, "Le&ft"
  rmRes + 303, "Rig&ht"
  rmRes + 304, "Editor"
  rmRes + 305, "Text editor"
  rmRes + 306, "&Use object's font settings"
  rmRes + 307, "Use &fixed setting:"
  rmRes + 308, "Font name:"
  rmRes + 309, "Size:"
  rmRes + 310, "Script editor"
  rmRes + 311, "Localized property names"
  rmRes + 312, "Auto Open Last File"
  rmRes + 313, "WorkSpace"
  rmRes + 314, "Auto Change Band Postion"
  rmRes + 315, "Thousandths of MM"
  rmRes + 316, "Show DropDown Field"

;--- TemplNewForm resources --------------------------------------------------
  rmRes + 320, "New template"
  rmRes + 321, "Description"
  rmRes + 322, "Picture"
  rmRes + 323, "File..."

;--- DictForm resources ------------------------------------------------------
  rmRes + 340, "Data dictionary"
  rmRes + 341, "Variables"
  rmRes + 342, "Field aliases"
  rmRes + 343, "Band datasources"
  rmRes + 344, "Va&riables"
  rmRes + 345, "Va&lues"
  rmRes + 346, "E&xpression"
  rmRes + 347, "New category"
  rmRes + 348, "New variable"
  rmRes + 349, "Edit"
  rmRes + 350, "Delete"
  rmRes + 351, "Edit list"
  rmRes + 352, "Datasets and fields"
  rmRes + 353, "All datasets"
  rmRes + 354, "&Appearance"
  rmRes + 355, "A&lias"
  rmRes + 356, "E&xclude field from list"
  rmRes + 357, "Datasources"
  rmRes + 358, "All datasources"
  rmRes + 359, "&Save..."
  rmRes + 360, "Pack"

;--- FmtForm resources -------------------------------------------------------
  rmRes + 420, "Variable formatting"
  rmRes + 421, "Variable format"
  rmRes + 422, "&Decimal digits"
  rmRes + 423, "Decimal &separator"
  rmRes + 424, "Custom &format"

;--- FieldsForm resources ----------------------------------------------------
  rmRes + 450, "Inser data Field"

;--- GEditorForm resources ---------------------------------------------------
  rmRes + 460, "Picture"
  rmRes + 461, "&Stretch"
  rmRes + 462, "&Load..."
  rmRes + 463, "&Clear"
  rmRes + 464, "&Memo"
  rmRes + 465, "Save..."

;--- BandEditorForm resources ------------------------------------------------
  rmRes + 480, "Band data source"
  rmRes + 481, "&Data source"
  rmRes + 482, "&Record count"

;--- VBandEditorForm resources ------------------------------------------------
  rmRes + 485, "Band data sources"
  rmRes + 486, "Bands"
  rmRes + 487, "Data source"
  rmRes + 488, "&Record count"

;--- GroupEditorForm resources -----------------------------------------------
  rmRes + 490, "Group"
  rmRes + 491, "&Condition"
  rmRes + 492, "Insert data field"
  rmRes + 493, "Show in outline"

;--- BandTypesForm resources -------------------------------------------------
  rmRes + 510, "Insert new band"
  rmRes + 511, "Band type"
  rmRes + 512, "Cross Band type"

;--- HilightForm resources ---------------------------------------------------
  rmRes + 520, "Conditional highlightning"
  rmRes + 521, "&Condition"
  rmRes + 522, "Font"
  rmRes + 523, "C&olor..."
  rmRes + 524, "&Bold"
  rmRes + 525, "&Italic"
  rmRes + 526, "&Underline"
  rmRes + 527, "Background"
  rmRes + 528, "Co&lor..."
  rmRes + 529, "&Transparent"
  rmRes + 530, "Ot&her"

;--- AboutForm resources -----------------------------------------------------
  rmRes + 540, "About Report Machine"
  rmRes + 541, "Memory Available to Windows:"

;--- OleForm resources -------------------------------------------------------
  rmRes + 550, "OLE object"
  rmRes + 551, "&Insert..."
  rmRes + 552, "&Edit..."
  rmRes + 553, "&Close"
  rmRes + 554, "Inser Object..."
  rmRes + 555, "Paste Object..."
  rmRes + 556, "Copy Object"
  rmRes + 557, "Clear Object"
  rmRes + 558, "Object Property..."

;--- RichForm resources ------------------------------------------------------
  rmRes + 560, "Rich Edit"
  rmRes + 561, "Open..."
  rmRes + 562, "Save..."
  rmRes + 563, "Undo"
  rmRes + 564, "Bold"
  rmRes + 565, "Italic"
  rmRes + 566, "Left align"
  rmRes + 567, "Center align"
  rmRes + 568, "Right align"
  rmRes + 569, "Underline"
  rmRes + 570, "List"
  rmRes + 571, "Font"
  rmRes + 572, "Special Paste..."
  rmRes + 573, "Save and Exit"
  rmRes + 574, "Cancel"
  rmRes + 575, "Inser expressiom..."
  rmRes + 576, "Font..."
  rmRes + 577, "Font size"
  rmRes + 578, "Row:"
  rmRes + 579, "Col:"
  rmRes + 580, "Superscript"
  rmRes + 581, "Subscript"
  rmRes + 582, "Find..."
  rmRes + 583, "Find Next"
  rmRes + 584, "Replace..."
  rmRes + 585, "Object Property..."
  rmRes + 586, "Insert"
  rmRes + 587, "Object..."
  rmRes + 588, "Picture..."
  rmRes + 589, "&Format"

;--- ChartForm resources -----------------------------------------------------
  rmRes + 590, "Chart object"
  rmRes + 591, "Type"
  rmRes + 592, "Data"
  rmRes + 593, "Type"
  rmRes + 594, "Object name"
  rmRes + 595, "Options"
  rmRes + 596, "&3D"
  rmRes + 598, "Show &legend"
  rmRes + 599, "Show &axis"
  rmRes + 600, "Show &marks"
  rmRes + 601, "Multi-colo&r"
  rmRes + 602, "For &legend"
  rmRes + 603, "For &values"
  rmRes + 604, "Marks"
  rmRes + 605, "Style"
  rmRes + 606, "Value"
  rmRes + 607, "Percent"
  rmRes + 608, "Label"
  rmRes + 609, "Label and Percent"
  rmRes + 610, "Label and Value"
  rmRes + 611, "Top10 group"
  rmRes + 612, "&Show top"
  rmRes + 613, "La&bel"
  rmRes + 614, "values"
  rmRes + 597, "Chart Options"
  rmRes + 616, "Add Series"
  rmRes + 617, "Delete Series"
  rmRes + 618, "Edit Title"
  rmRes + 619, "Move up"
  rmRes + 620, "Move down"
  rmRes + 621, "DataSet"
  rmRes + 622, "Label"
  rmRes + 623, "Chart Property"
  rmRes + 624, "Line Series"
  rmRes + 625, "Area Series"
  rmRes + 626, "Point Series"
  rmRes + 627, "Bar Series"
  rmRes + 628, "HorizBar Series"
  rmRes + 629, "Pie Series"
  rmRes + 630, "Need Number Field"
  rmRes + 631, "Data Source"
  rmRes + 632, "Band Data"
  rmRes + 633, "DataSet"
  rmRes + 634, "Fixed Data"
  rmRes + 635, "Sort Type"
  rmRes + 636, "None"
  rmRes + 637, "Ascending"
  rmRes + 638, "Descending"
  rmRes + 639, "Data"
  rmRes + 640, "X Values (for example, a;b;c)"
  rmRes + 641, "Y Values (for example, 1;2;3)"
  rmRes + 642, "Series Options"
  rmRes + 643, "Gantt"
  rmRes + 644, "FastLine"

;--- BarCodeForm resources ---------------------------------------------------
  rmRes + 650, "Barcode editor"
  rmRes + 651, "&Code"
  rmRes + 652, "&Type of barcode"
  rmRes + 653, "Options"
  rmRes + 654, "Check&sum"
  rmRes + 655, "&Human readable"
  rmRes + 656, "Insert expression"
  rmRes + 657, "Insert variable"
  rmRes + 658, "Rotation"
  rmRes + 659, "&Zoom:"
  rmRes + 660, "Display Text"
  rmRes + 661, "Position"
  rmRes + 662, "Text"
  rmRes + 663, "Truncation BarCode"
  rmRes + 664, "Chang Height"
  rmRes + 665, "Left"
;  rmRes + 666, "Level"
  rmRes + 667, "mode"
  rmRes + 668, "country"
  rmRes + 669, "service"
  rmRes + 670, "postcode"
  rmRes + 671, "Left;Center;Bottom"
  rmRes + 672, "cmMode2"
  rmRes + 673, "cmMode4"
  rmRes + 674, "cmMode5"
  rmRes + 675, "Display Format"
  rmRes + 676, "Text Align"
  rmRes + 677, "Border"
  rmRes + 678, "Horizontal Align"
  rmRes + 679, "Vertical Align"
  rmRes + 680, "Text Align"
  rmRes + 681, "Other"
  rmRes + 682, "Workwrap"
  rmRes + 683, "Font"
  rmRes + 684, "Font Size"
  rmRes + 685, "Color"
  rmRes + 686, "Constant"
  rmRes + 687, "Italic"
  rmRes + 688, "Bold"
  rmRes + 689, "Bold Italic"
  rmRes + 690, "Rows"
  rmRes + 691, "Columns"
  rmRes + 692, "Columns & Rows..."
  rmRes + 693, "Set Columns & Rows"
  rmRes + 694, "Cell Property..."
  rmRes + 695, "Row Height"
  rmRes + 696, "Column Width"

;--- ExprForm resources ------------------------------------------------------
  rmRes + 700, "Expression builder"
  rmRes + 701, "Expression"
  rmRes + 702, "Insert"
  rmRes + 703, "&Data field..."
  rmRes + 704, "&Variable..."
  rmRes + 705, "&Function..."
  rmRes + 706, "Tables:"
  rmRes + 707, "Field:"
  rmRes + 708, "Insert Variable"
  rmRes + 709, "Continue"
  rmRes + 710, "Select Function"
  rmRes + 711, "Function arguments"
  rmRes + 712, "Valida&te"
  rmRes + 713, "Inser DB Field"
  rmRes + 714, "DateTime"
  rmRes + 715, "Time"
  rmRes + 716, "Date"
  rmRes + 717, "Character"
  rmRes + 718, "Boolean"
  rmRes + 719, "Number"
  rmRes + 720, "Value"
  rmRes + 721, "Clear"
  rmRes + 722, "Use Table Name"

;--- AttrForm resources ------------------------------------------------------
  rmRes + 740, "Object tag"

;--- CrossForm resources -----------------------------------------------------
  rmRes + 750, "Cross-tab view"
  rmRes + 751, "Cross-tab dataset"
  rmRes + 752, "Subtotals"
  rmRes + 753, "Function"
  rmRes + 754, "Cross-tab editor"
  rmRes + 755, "Header"
  rmRes + 756, "Total"
  rmRes + 757, "Grand total"
  rmRes + 758, "Cell"
  rmRes + 759, "Total of "
  rmRes + 760, "Title"
  rmRes + 761, "Repeat captions"
  rmRes + 762, "Internal frame"
  rmRes + 763, "Show header"

;--- CalcEditorForm resources -------------------------------------------------------
  rmRes + 770, "CalcMemo editor"
  rmRes + 771, "Calc Type"
  rmRes + 772, "SUM"
  rmRes + 773, "COUNT"
  rmRes + 774, "AVG"
  rmRes + 775, "MAX"
  rmRes + 776, "MIN"
  rmRes + 777, "Calc Band:"
  rmRes + 778, "Filter"
  rmRes + 779, "Reset After Print"
  rmRes + 769, "Calc No Visible Band"
  rmRes + 768, "User"
  rmRes + 767, "Intalize Value:"
  rmRes + 766, "Aggregate Value"
  rmRes + 765, "User Calc"
  rmRes + 764, "Reset Group"

;--- TemplForm resources -----------------------------------------------------
  rmRes + 780, "New report"
  rmRes + 781, "Preview"
  rmRes + 782, "template"
  rmRes + 783, "Wizard"
  rmRes + 794, "Browse"
  rmRes + 795, "Build"

  rmRes + 796, "Left Frame"
  rmRes + 797, "Top Frame"
  rmRes + 798, "Right Frame"
  rmRes + 799, "Bottom Frame"
  rmRes + 800, "Diagonal"
  rmRes + 801, "Insert Column"
  rmRes + 802, "Insert Row"
  rmRes + 803, "Delete Column"
  rmRes + 804, "Delete Row"
  rmRes + 805, "Merge Cells"
  rmRes + 806, "Split Cells"
  rmRes + 807, "Cell"
  rmRes + 808, "Left Column"
  rmRes + 809, "Right Column"
  rmRes + 810, "Top Row"
  rmRes + 811, "Bottom Row"
  rmRes + 812, "Column"
  rmRes + 813, "Row"
  rmRes + 814, "Cell Type"
;  rmRes + 815, "Title:"
  rmRes + 816, "Author::"
  rmRes + 817, "Company:"
  rmRes + 818, "CopyRight:"
  rmRes + 819, "Comment:"
  rmRes + 820, "Report Info"

  rmRes + 821, "Search:"
  rmRes + 822, "Replace:"
  rmRes + 823, "Search and Replace"
  rmRes + 824, "Case insensitive"
  rmRes + 825, "Search in scripts"
  rmRes + 826, "Search in memo"
  rmRes + 827, "Search"
  rmRes + 828, "Replace"
  rmRes + 829, "Stop"
  rmRes + 830, "Replace all"
  rmRes + 831, "Close"
  rmRes + 832, "Object"
  rmRes + 833, "ID"
  rmRes + 834, "Memo"
  rmRes + 835, "Script"
  rmRes + 836, "Select item(s) to replace !"
  rmRes + 837, "Replace ALL occurences of %s""%s""%swith%s""%s"""
  rmRes + 838, "Replace ALL occurences of %s""%s""%swith%s""%s"""
  rmRes + 839, "Blank Report"
  rmRes + 840, "Indentation"
  rmRes + 841, "&Left: "
  rmRes + 842, "&Right: "
  rmRes + 843, "&First line: "
  rmRes + 844, "Alignment"
  rmRes + 845, "Left"
  rmRes + 846, "Right"
  rmRes + 847, "Center"
  rmRes + 848, "Spacing"
  rmRes + 849, "Space &before: "
  rmRes + 850, "Space &after: "
  rmRes + 851, "Li&ne spacing: "
  rmRes + 852, "Paragraph(&P)..."
  rmRes + 853, "Paragraph"
  rmRes + 854, "Insert Column Left"
  rmRes + 855, "Column Number"
  rmRes + 856, "Insert Row Top"
  rmRes + 857, "Row Number"
  rmRes + 858, "Insert Column Right"
  rmRes + 859, "Insert Row Bottom"
  rmRes + 860, "Insert Band"
  rmRes + 861, "Copy Page"
  rmRes + 862, "Paste Page"
  rmRes + 863, "Frame"
  rmRes + 864, "Double Line"
  rmRes + 865, "Frame Prop"
  rmRes + 866, "Cell Edit Toolbar"
  rmRes + 867, "Page Header/Footer"
  rmRes + 868, " Page Header "
  rmRes + 869, " Page Footer "
  rmRes + 870, "Title"
  rmRes + 871, " First Title "
  rmRes + 872, " Second Title "
  rmRes + 873, "Option"
  rmRes + 874, "Page Header/Footer..."
  rmRes + 875, "Band DataSet..."
  rmRes + 876, "Band..."
  rmRes + 877, "Preview template"
  rmRes + 878, "Auto"
  rmRes + 879, "Visible"
  rmRes + 880, "Printable"
  rmRes + 881, "Clear Contents"
  rmRes + 882, "Stretch to Max Height"
  rmRes + 883, "Keep Detail Together"
  rmRes + 884, "Keep Footer Together"
  rmRes + 885, "Keep Child Together"
  rmRes + 886, "DataSet"
  rmRes + 887, " Options "
  rmRes + 888, "Font"
  rmRes + 889, "Auto Append Blank"
  rmRes + 890, "Auto Center"
  rmRes + 891, "Report Define"
  rmRes + 892, "New Item"
  rmRes + 893, "Delete Item"
  rmRes + 894, "New SubItem"
  rmRes + 895, "Title"
  rmRes + 896, "Field"
  rmRes + 897, " Data Property"
  rmRes + 898, "Width"
  rmRes + 899, "Title Property"
  rmRes + 900, "Align"
  rmRes + 901, "BackColor"
  rmRes + 902, "Footer Property"
  rmRes + 903, "Calc Type"
  rmRes + 904, "Common"
  rmRes + 905, "Page Calc"
  rmRes + 906, "Total Calc"
  rmRes + 907, "Group Calc"
  rmRes + 908, "leiji Calc"
  rmRes + 909, "Up"
  rmRes + 910, "Down"
  rmRes + 911, "Up Level"
  rmRes + 912, "Down Level"
  rmRes + 913, "Other Property"
  rmRes + 914, "Html Memo Editor"
  rmRes + 915, "Html Memo"
  rmRes + 916, "DB Field"
  rmRes + 917, "Font"
  rmRes + 918, "Italic"
  rmRes + 919, "Font"
  rmRes + 920, "Superscript"
  rmRes + 921, "Subscript"
  rmRes + 922, "upline"
  rmRes + 923, "underline"
  rmRes + 924, "Alias Name"
  rmRes + 925, "Field Name"
  rmRes + 926, "Dataset Dictionay"
  rmRes + 927, "DataSet Alias"
  rmRes + 928, "Reset"
  rmRes + 929, "Cell Prop"
  rmRes + 930, "Print On Parent"
  rmRes + 931, "New Table"
  rmRes + 932, "Split Cells By Column"
  rmRes + 933, "Split Cells By Row"
  rmRes + 934, "Insert Cell"
  rmRes + 935, "Add Cell"
  rmRes + 936, "Delete Cell"
  rmRes + 937, "Print"
  rmRes + 938, "Styles"

;--- Strings resources -------------------------------------------------------
  SRemovePg, "Remove this page?"
  SConfirm, "Confirm"

  SSystemVariables, "System variables"
  SVar1, "Page#"
  SVar2, "ApplicationPath#"
  SVar3, "Date"
  SVar4, "Time"
  SVar5, "Date and Time"
  SVar6, "Line#"
  SVar7, "Line through#"
  SVar8, "Column#"
  SVar9, "Current line#"
  SVar10, "TotalPages"
  SStretched, "Stretched"
  SVarFormat, "Variable format..."
  SWordWrap, "Word wrap"
  SWordBreak, ""
  SFormNewPage, "Force new page"
  SPrintIfSubsetEmpty, "Print if detail empty"
  SBreaked, "Breaked"
  SPictureCenter, "Center picture"
  SKeepAspectRatio, "Keep aspect ratio"
  SFormFile, "ReportMachine form"
  STemplFile, "ReportMachine template"
  SDictFile, "ReportMachine dictionary"
  SPictFile, "Picture file"
  SAllFiles, "All files"
  SInsOLEObject, "Insert OLE object"
  SInsRichObject, "Insert RichText object"
  SInsRich2Object, "Insert RX RichText object"
  SInsWwRichObject, "Insert ww RichText object"
  SInsCheckBox, "Insert CheckBox object"
  SInsChart, "Insert Chart object"
  SInsShape, "Insert Shape object"
  SInsBarcode, "Insert Barcode object"
  SInsRoundRect, "Insertt an RoundRect with shadow area"
  rmRes + 2496, "ClientDataSet"
  rmRes + 2497, "DCOMConnection"
  rmRes + 2498, "SocketConnection"
  rmRes + 2503, "Insert DB Chart"
  SSubReportOnPage, "SubReport on page"
  SPicture, "[Picture]"
  STransparent, "Transparent"
  SOther, "Other..."
  SOnFirstPage, "On first page"
  SOnLastPage, "On last page"
  SRepeatHeader, "Show on all pages"
  SDesignReport, "Design report"
  SInsertFields, "Insert DB fields"
  SSaveChanges, "Save changes"
  STo, "to"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Inches"
  SVirtualDataset, "Virtual Dataset"
  SAutoSize, "Auto size"
  SRMVariables, "RM variables"
  SClearContents, "Clear contents"

  SAllCategories, "All functions"
  SDateTimeCategory, "Date and time"
  SStringCategory, "String"
  SOtherCategory, "Other"
  SMathCategory, "Math"
  SBoolCategory, "Boolean"
  SIntrpCategory, "Interpreter"
  SAggregateCategory, "Aggregate"

  SRMCalcType, "Calc type..."
  SRMResetAfterPrint, "Reset After print"

  SDescriptionDAY, "Day(<Date>)|"
    "Returns day number (1..31) of given <Date>."

  SDescriptionFORMATDATETIME, "FormatDateTime(<Fmt>, <DateTime>)|"
    "Converts a <DateTime> value to a string using mask in <Fmt>."

  SDescriptionFORMATFLOAT, "FormatFloat(<Fmt>, <Numeric>)|"
    "Converts a <Numeric> value to a string using mask in <Fmt>."

  SDescriptionINPUT, "Input(<Caption> [,Default])|"
    "Shows dialog window with headstring <Caption> and edit box. "
    "If [Default] parameter is set, puts this string in edit box. "
    "After user clicks OK, returns input string."

  SDescriptionLENGTH, "Length(<String>)|"
    "Returns length of <String>."

  SDescriptionLOWERCASE, "LowerCase(<String>)|"
    "Converts <String> symbols to lower case."

  SDescriptionMONTH, "Month(<Date>)|"
    "Returns month number (1..12) of given <Date>."

  SDescriptionNAMECASE, "NameCase(<String>)|"
    "Converts <String> symbols to lower case, and first symbol "
    "is in upper case."

  SDescriptionSTRTODATE, "StrToDate(<String>)|"
    "Converts <String> to date."

  SDescriptionSTRTOTIME, "StrToTime(<String>)|"
    "Converts <String> to time."

  SDescriptionTRIM, "Trim(<String>)|"
    "Trims all heading and trailing spaces in <String> and returns "
    "resulting string."

  SDescriptionUPPERCASE, "UpperCase(<String>)|"
    "Converts <String> symbols to upper case."

  SDescriptionYEAR, "Year(<Date>)|"
    "Returns year of given <Date>."

  SDescriptionIF, "If(<Expression>, <Value1>, <Value2>)|"
    "Returns <Value1>, if expression <Expression> is True; "
    "otherwise returns <Value2>. Return value can be not only string."

  SDescriptionCOPY, "Copy(<String>, <From>, <Count>)|"
    "Returns a substring of string."

  SDescriptionMOD, "<Value1> Mod <Value2>|"
    "Returns remainder from dividing <Value1> by <Value2>."

  SDescriptionSTR, "Str(<Value>)|"
    "Converts number given in <Value> to a string."

  SDescriptionNOT, "Not <Value>|"
    "Logical 'NOT'."

  SDescriptionAND, "<Value1> And <Value2>|"
    "Logical 'AND'."

  SDescriptionOR, "<Value1> Or <Value2>|"
    "Logical 'OR'."

  SDescriptionROUND, "Round(<Value>)|"
    "Returns rounded <Value>."

  SDescriptionFRAC, "Frac(<Value>)|"
    "Returns fractional part of <Value>."

  SDescriptionINT, "Int(<Value>)|"
    "Returns integer part of <Value>."

  SDescriptionTRUE, "TRUE|"
    "Logical 'TRUE'."

  SDescriptionFALSE, "FALSE|"
    "Logical 'FALSE'."

  SDescriptionPAGE, "PAGE#|"
    "Returns current page number."

  SDescriptionDATE, "DATE|"
    "Returns current date."

  SDescriptionTIME, "TIME|"
    "Returns current time."

  SDescriptionLINE, "LINE#|"
    "Returns current data-row number (starting at group beginning)."

  SDescriptionLINETHROUGH, "LINETHROUGH#|"
    "Returns current data-row number (starting at report beginning)."

  SDescriptionCOLUMN, "COLUMN#|"
    "Returns current column number."

  SDescriptionTOTALPAGES, "TOTALPAGES|"
    "Returns number of total pages in the report"

  SDescriptionMROK, "mrOK|"
    "Modal result constant."

  SDescriptionMRCancel, "mrCancel|"
    "Modal result constant."

  SDescriptionCurY, "CurY|"
   "Returns 'Y' position (in pixels) where current band will "
    "be shown. You can also assign value to CurY."

  SDescriptionFreeSpace, "FreeSpace|"
    "Returns remain space on the page in pixels."

  SDescriptionFinalPass, "FinalPass|"
    "Returns True if report engine performs final pass."

  SDescriptionPageHeight, "PageHeight|"
    "Returns height of the page in pixels."

  SDescriptionPageWidth, "PageWidth|"
    "Returns width of the page in pixels."

  SDescriptionProgress, "Progress|"
    "Value assigned to Progress will be showed in Progress window"

  SDescriptionModalResult, "ModalResult|"
    "Assigning non-zero value to ModalResult will close dialog form."


  SDescriptionStopReport, "StopReport|"
    "Stops report building."

  SDescriptionNewPage, "NewPage|"
    "Starts new page."

  SDescriptionNewColumn, "NewColumn|"
    "Starts new column."

  SDescriptionShowBand, "ShowBand(<BandName>)|"
    "Shows band with name <BandName> given."

  SDescriptionINC, "Inc(<Value>)|"
    "Increments <Value>."

  SDescriptionDEC, "Dec(<Value>)|"
    "Decrements <Value>."

  SDescriptionMAXNUM, "MaxNum(<Value1>, <Value2>)|"
    "Returns max of given values."

  SDescriptionMINNUM, "MinNum(<Value1>, <Value2>)|"
    "Returns min of given values."

  SDescriptionPOS, "Pos(<SubString>, <String>)|"
    "Returns position of substring in given string."

  SDescriptionMESSAGEBOX, "MessageBox(<Text>, <Title>, <Buttons>)|"
    "Shows standard dialog window with title, text and buttons."

  SDescriptionFORMATTEXT, "FormatText(<Mask>, <String>)|"
    "Applies <Mask> to given <String> and returns formatted string."

  SDescriptionCnNumber, "CNumber(Value)|Convers <Value> to Chinese Number"
  SDescriptionCurrToBigNum, "CurrToBigNum(Value)|Converts <Value> to Chinese Money"
  SDescriptionDiv, "Div(<Value1>, <Value2>)|Integer division of <X> by <Y>"
  SDescriptionRMRound, "RMRound(<Value1>, <Value2>)|Round"

  SDescriptionCOUNT, "Count(<BandName>, [1], [Condition])|"
    "Returns count of data-rows given in the <BandName>."

  SDescriptionAVG, "AVG(<Expression>, [BandName], [1], [Condition])|"
    "Calculates the average of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates average for non-visible rows too."

  SDescriptionMAX, "MAX(<Expression>, [BandName], [1], [Condition])|"
    "Calculates the maximum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates maximum for non-visible rows too."

  SDescriptionMIN, "MIN(<Expression>, [BandName], [1], [Condition])|"
    "Calculates the minimum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates minimum for non-visible rows too."

  SDescriptionSUM, "SUM(<Expression>, [BandName], [1], [Condition])|"
    "Calculates the sum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates sum for non-visible rows too."


  SInformation, "Information"
  SExpressionOK, "Expression is OK!"
  STextOnly, "Text only"
  SSuppressRepeated, "Suppress repeated values"
  SDeleteObjects, "This will delete all objects on this page."
  SHideZeros, "Hide zeros"
  SPrintChild, "Print childs if invisible"
  SUnderlines, "Underlines"
  SAutoAppendBlank, "Auto Append Blank"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab Object"
  SInsAngledLabel, "Insert Angled Label Object"
}
