#include "RM_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  rmRes + 3000, "Report datasets"
  rmRes + 3001, "&Properties..."
  rmRes + 3002, "New &table..."
  rmRes + 3003, "New &query..."
  rmRes + 3004, "&Remove"
  rmRes + 3005, "&Close"
  rmRes + 3006, "New &database..."
  rmRes + 3007, "Preview Data..."

;--- TablePropForm resources -------------------------------------------------
  rmRes + 3020, "General"
  rmRes + 3021, "&Name"
  rmRes + 3022, "&Fields"
  rmRes + 3023, "&Fields editor..."
  rmRes + 3024, "Other"
  rmRes + 3025, "&Index"
  rmRes + 3026, "Filter &expression"
  rmRes + 3027, "&Master"
  rmRes + 3028, "Ma&ster fileds"

;--- FieldsEditorForm resources ----------------------------------------------
  rmRes + 3040, "&Add fields..."
  rmRes + 3041, "Add &lookup..."
  rmRes + 3042, "&Select all"
  rmRes + 3043, "&Delete"
  rmRes + 3044, "&Exit"
  rmRes + 3045, "Modify"

;--- FieldsListForm resources ------------------------------------------------
  rmRes + 3060, " Available fields"

;--- LookupFieldForm resources -----------------------------------------------
  rmRes + 3070, "New lookup field"
  rmRes + 3071, "Field"
  rmRes + 3072, "&Name"
  rmRes + 3073, "&Type"
  rmRes + 3074, "&Size"
  rmRes + 3075, "Lookup definition"
  rmRes + 3076, "&Key field"
  rmRes + 3077, "&Dataset"
  rmRes + 3078, "&Lookup key"
  rmRes + 3079, "&Result field"

;--- Query Designer resources ------------------------------------------------
  rmRes + 3080, "Fields"
  rmRes + 3081, "Calc Fields"
  rmRes + 3082, "Group"
  rmRes + 3083, "Sort"
  rmRes + 3084, "ASC/DEC"
  rmRes + 3085, "Fields..."
  rmRes + 3086, "Paramters..."
  rmRes + 3087, "New SQL"
  rmRes + 3088, "Load From SQL File..."
  rmRes + 3089, "Save to File..."
  rmRes + 3090, "Field"
  rmRes + 3091, "ASC/DEC"
  rmRes + 3092, "SQL File(*.SQL)|*.SQL|Visual Query File(*.QB)|*.QB"
  rmRes + 3093, "Modify SQL"
  rmRes + 3094, "are you sure Make a New Query?"

;--- ParamsForm resources ----------------------------------------------------
  rmRes + 3110, "Parameters"
  rmRes + 3111, "&Data type"
  rmRes + 3112, "&Name"
  rmRes + 3113, "&Value:"
  rmRes + 3114, "&Ask for value before printing"
  rmRes + 3115, "Assign value from &master dataset"
  rmRes + 3116, "Va&riable:"

;--- FieldsLinkForm resources ------------------------------------------------
  rmRes + 3130, "&Detail fields"
  rmRes + 3131, "&Master fields"
  rmRes + 3132, "&Joined fields"
  rmRes + 3133, "&Add"
  rmRes + 3134, "&Clear"

;--- Report Explorer resources -----------------------------------------------
  rmRes + 3135, " All Folder"
  rmRes + 3136, "Parent Folder"
  rmRes + 3137, "Open"
  rmRes + 3138, "New Folder"
  rmRes + 3139, "New Re[prt"
  rmRes + 3140, "Print..."
  rmRes + 3141, "Print Preview..."
  rmRes + 3142, "Delete..."
  rmRes + 3143, ""
  rmRes + 3144, ""
  rmRes + 3145, "Exit"
  rmRes + 3146, "New"
  rmRes + 3147, "Folder"
  rmRes + 3148, "Report"
  rmRes + 3149, "Rename"
  rmRes + 3150, "&View"
  rmRes + 3151, "ToolBar"
  rmRes + 3152, "StatusBar"
  rmRes + 3153, "List View"
  rmRes + 3154, "Detail View"
  rmRes + 3155, "Browse"
  rmRes + 3156, "Clear Recyle"
  rmRes + 3157, "Report"
  rmRes + 3158, "Folder"
  rmRes + 3159, "All Folter"
  rmRes + 3160, "recycle bin "
  rmRes + 3161, "Do you want delete this Folder?"
  rmRes + 3162, "Delete"
  rmRes + 3163, "Name"
  rmRes + 3164, "Size"
  rmRes + 3165, "Type"
  rmRes + 3166, "Last Modify"
  rmRes + 3167, "Do you want delete selected Folders and Reports?"
  rmRes + 3168, "Information"


;--- ADOForm resources -------------------------------------------------------
  rmRes + 3230, " Source of Connection "
  rmRes + 3231, "Use Data &Link File"
  rmRes + 3232, "Use &Connection String"
  rmRes + 3233, " Database "
  rmRes + 3234, "&Name:"
  rmRes + 3235, "&Alias name:"
  rmRes + 3236, "&Driver name:"
  rmRes + 3237, "&Parameter"
  rmRes + 3238, "D&efaults"
  rmRes + 3239, "&Clear"
  rmRes + 3240, "Floder..."
  rmRes + 3241, "&Local"
  rmRes + 3242, "&Remote"
  rmRes + 3243, "&Server:"
  rmRes + 3244, "&Protocol:"
  rmRes + 3245, "Database Parameters"
  rmRes + 3246, "&User Name:"
  rmRes + 3247, "Pass&word:"
  rmRes + 3248, "SQLRole:"
  rmRes + 3249, "Browse..."
  rmRes + 3250, "Record"
  rmRes + 3251, "Build..."
  rmRes + 3252, "Select Folder"

;--- Strings resources -------------------------------------------------------
  SFields, "fields"
  SPath, "Path"
  SRemoveDS, "Delete this component??"
  STables, "Tables"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Data manager"
  SParams, "parameters"
  SQueryError, "Invalid SQL statement or parameters"
  STableProps, "Table properties"
  SParamDialog, "Parameters dialog"
  SInvalidParamValue, "Invalid parameter value"
  SDatabase, "Databases"
  SFieldSizeError, "Invalid field size"
}
