#include "RM_Const.pas"

STRINGTABLE
{
;--- EditorForm resources ----------------------------------------------------
  rmRes + 60, "文本編輯器"
  rmRes + 61, "插入表達式"
  rmRes + 62, "插入數据字段"
  rmRes + 63, "自動折行"
  rmRes + 64, "顯示/隱藏 script"
  rmRes + 65, "字段"

;--- InspForm resources ------------------------------------------------------
  rmRes + 70, "對象查看器"
  rmRes + 71, "屬性"
  rmRes + 72, "事件"

;--- FRDesignerForm resources ------------------------------------------------
  rmRes + 80, "設計器"
  rmRes + 81, "常用工具欄"
  rmRes + 82, "文本工具欄"
  rmRes + 83, "邊框工具欄"
  rmRes + 84, "對齊工具欄"
  rmRes + 85, "大小調色板"
  rmRes + 86, "對象工具欄"
  rmRes + 87, "新建報表"
  rmRes + 88, "打開報表..."
  rmRes + 89, "保存報表"
  rmRes + 90, "預覽報表"
  rmRes + 91, "剪切"
  rmRes + 92, "复制"
  rmRes + 93, "粘貼"
  rmRes + 94, "取消最后一次操作"
  rmRes + 95, "重做取消的操作"
  rmRes + 96, "放在最前面"
  rmRes + 97, "放到最后面"
  rmRes + 98, "全選"
  rmRes + 99, "添加頁"
  rmRes + 100, "刪除頁"
  rmRes + 101, "頁面設置"
  rmRes + 102, "柵格"
  rmRes + 103, "柵格對齊"
  rmRes + 104, "匹配柵格"
  rmRes + 106, "關閉設計器"
  rmRes + 107, "左對齊"
  rmRes + 108, "右對齊"
  rmRes + 109, "中間對齊"
  rmRes + 110, "插入數据字段"
  rmRes + 111, "垂向中間對齊"
  rmRes + 112, "頂端對齊"
  rmRes + 113, "底端對齊"
  rmRes + 114, "寬度對齊"
  rmRes + 115, "粗体"
  rmRes + 116, "斜体"
  rmRes + 117, "下划線"
  rmRes + 118, "字体顏色"
  rmRes + 119, "條件高亮度"
  rmRes + 120, "字体大小"
  rmRes + 121, "字体名稱"
  rmRes + 122, "頂框線"
  rmRes + 123, "左框線"
  rmRes + 124, "底框線"
  rmRes + 125, "右框線"
  rmRes + 126, "有框線"
  rmRes + 127, "無框線"
  rmRes + 128, "背景色"
  rmRes + 129, "框線色"
  rmRes + 130, "框線寬"
  rmRes + 131, "框線寬"
  rmRes + 132, "選擇對象"
  rmRes + 133, "插入文本框"
  rmRes + 134, "插入邊條"
  rmRes + 135, "插入圖片"
  rmRes + 136, "插入子報表"
  rmRes + 137, "插入計算文本框"
  rmRes + 138, "左端對齊"
  rmRes + 139, "水平居中"
  rmRes + 140, "水平平均分布各列"
  rmRes + 141, "窗口水平居中"
  rmRes + 142, "右端對齊"
  rmRes + 143, "頂端對齊"
  rmRes + 144, "垂直平均分布各列"
  rmRes + 145, "窗口垂直居中"
  rmRes + 146, "垂直居中"
  rmRes + 147, "底端對齊"
  rmRes + 148, "剪切(&U)"
  rmRes + 149, "复制(&C)"
  rmRes + 150, "粘貼(&P)"
  rmRes + 151, "刪除(&D)"
  rmRes + 152, "全選(&a)"
  rmRes + 153, "編輯(&E)..."
  rmRes + 154, "文件(&F)"
  rmRes + 155, "新建(&N)..."
  rmRes + 156, "打開(&O)..."
  rmRes + 157, "保存(&S)"
  rmRes + 158, "數据字典(&D)..."
  rmRes + 159, "打印(&P)..."
  rmRes + 160, "頁面設置(&P)..."
  rmRes + 161, "預覽(&V)"
  rmRes + 162, "退出(&x)"
  rmRes + 163, "編輯(&E)"
  rmRes + 164, "取消(&Undo)"
  rmRes + 165, "重做(&Redo)"
  rmRes + 166, "剪切(&U)"
  rmRes + 167, "复制(&C)"
  rmRes + 168, "粘貼(&P)"
  rmRes + 169, "刪除(&D)"
  rmRes + 170, "全選(&a)"
  rmRes + 171, "編輯(&E)..."
  rmRes + 172, "添加頁(&A)"
  rmRes + 173, "刪除頁(&R)"
  rmRes + 174, "放到最前面(&f)"
  rmRes + 175, "放到最后面(&b)"
  rmRes + 176, "工具(&T)"
  rmRes + 177, "工具欄(&T)"
  rmRes + 178, "工具箱(&l)"
  rmRes + 179, "選項(&O)..."
  rmRes + 180, "邊框"
  rmRes + 181, "常用"
  rmRes + 182, "文本(&T)"
  rmRes + 183, "對象(&O)"
  rmRes + 184, "對象查看器(&I)"
  rmRes + 185, "對齊調色板"
  rmRes + 186, "工具箱(&l)"
  rmRes + 187, "關于(&A)..."
  rmRes + 188, "另存為(&a)..."
  rmRes + 189, "幫助主題(&C)"
  rmRes + 190, "幫助(&H)"	
  rmRes + 191, "線型"
  rmRes + 192, "添加對話框(&f)"
  rmRes + 193, "添加對話框"
  rmRes + 194, "Border Size"
  rmRes + 195, "設計"
  rmRes + 196, "預覽"
  rmRes + 197, "插入匯總框"
  rmRes + 198, "斜線"
  rmRes + 199, "水平首尾相連"
  rmRes + 200, "工具"
  rmRes + 201, "插入中國式財務對象"
  rmRes + 202, "縮放寬度到最小"
  rmRes + 203, "縮放寬度到最大"
  rmRes + 204, "縮放高度到最小"
  rmRes + 205, "縮放高度到最大"
  rmRes + 105, "設計"
  rmRes + 206, "大小調色板"
  rmRes + 207, "預覽"
  rmRes + 208, "字体顏色"
  rmRes + 209, "填充顏色"
  rmRes + 210, "邊框顏色"
  rmRes + 211, "屬性..."
  rmRes + 212, "自動對齊"
  rmRes + 214, "邊框..."
  rmRes + 215, "垂直首尾相連"
  rmRes + 216, "屬性..."
  rmRes + 217, "查找&&替換..."
  rmRes + 218, "首頁"
  rmRes + 219, "上一頁"
  rmRes + 220, "下一頁"
  rmRes + 221, "尾頁"
  rmRes + 222, "自動保存"
  rmRes + 223, "引入數据字典..."
  rmRes + 224, "合并數据字典..."
  rmRes + 225, "導出數据字典..."
  rmRes + 226, "鎖定對象"
  rmRes + 227, "刪除邊條"
  rmRes + 228, "減少寬度"
  rmRes + 229, "增加寬度"
  rmRes + 230, "減少高度"
  rmRes + 231, "增加高度"
  rmRes + 232, "斜線"
  rmRes + 233, "斜線"
  rmRes + 234, "方框"
  rmRes + 235, "內框"
  rmRes + 236, "插入列"
  rmRes + 237, "插入行"
  rmRes + 238, "追加列"
  rmRes + 239, "追加行"
  rmRes + 240, "刪除列"
  rmRes + 241, "刪除行"
  rmRes + 242, "列合并"
  rmRes + 243, "行合并"
  rmRes + 244, "Grid工具欄"
  rmRes + 245, "表行"
  rmRes + 246, "表列"
  rmRes + 247, "行高..."
  rmRes + 248, "平均分布各行"
  rmRes + 249, "列寬..."
  rmRes + 250, "平均分布各列"
  rmRes + 251, "MenuBar"
  rmRes + 252, "Inser Cell"
  rmRes + 253, "Code"
  rmRes + 254, "Search"
  rmRes + 255, "Find..."
  rmRes + 256  "Replace..."
  rmRes + 257, "Search Again"
  rmRes + 258, "Left Cell"
  rmRes + 259, "Top Cell"
  rmRes + 260, "條碼內容"
  rmRes + 261, "最佳高寬"
  rmRes + 262, "寬:"
  rmRes + 263, "高:"
  rmRes + 264, "條碼寬度"
  rmRes + 265, "列數"
  rmRes + 266, "加密等級"
  rmRes + 267, "行數"
  rmRes + 268, "Left Cell"
  rmRes + 269, "Top Cell"
  rmRes + 270, "Exchange page position"

;--- DesOptionsForm resources ------------------------------------------------
  rmRes + 280, "選項"
  rmRes + 281, "設計器"
  rmRes + 282, "柵格"
  rmRes + 283, "畫對象"
  rmRes + 284, "報表單位"
  rmRes + 285, "柵格大小"
  rmRes + 286, "顯示柵格(&S)"
  rmRes + 287, "柵格對齊(&g)"
  rmRes + 288, "彩色按鈕（&b）"
  rmRes + 289, "&4 象素"
  rmRes + 290, "&8 象素"
  rmRes + 291, "&18 象素 (5mm)"
  rmRes + 293, "移動或改變對象大小時,顯示內容"
  rmRes + 294, "象素(&P)"
  rmRes + 295, "毫米(&MM)"
  rmRes + 296, "英寸(&Inches)"
  rmRes + 297, "其它"
  rmRes + 298, "插入后編輯(&E)"
  rmRes + 299, "顯示band標題(&t)"
  rmRes + 300, "頁位置"
  rmRes + 301, "中心(&r)"
  rmRes + 302, "左(&f)"
  rmRes + 303, "右(&h)"
  rmRes + 304, "編輯器"
  rmRes + 305, "文本編輯器"
  rmRes + 306, "使用對象的字体設置(&U)"
  rmRes + 307, "使用固定設置(&f):"
  rmRes + 308, "字体名稱:"
  rmRes + 309, "字体大小:"
  rmRes + 310, "Script 編輯器"
  rmRes + 311, "顯示本地化的屬性名稱"
  rmRes + 312, "自動打開上次的報表"
  rmRes + 313, "WorkSpace"
  rmRes + 314, "Auto Change Band Postion"
  rmRes + 315, "Thousandths of MM"
  rmRes + 316, "Show DropDown Field"

;--- TemplNewForm resources --------------------------------------------------
  rmRes + 320, "新建報表模板"
  rmRes + 321, "注釋(&C)"
  rmRes + 322, "圖標"
  rmRes + 323, "文件(&F)..."

;--- DictForm resources ------------------------------------------------------
  rmRes + 340, "數据字典"
  rmRes + 341, "變量"
  rmRes + 342, "字段別名"
  rmRes + 343, "Band 數据源"
  rmRes + 344, "變量(&r)"
  rmRes + 345, "值(&l)"
  rmRes + 346, "表達式(&x)"
  rmRes + 347, "新建目錄"
  rmRes + 348, "新建變量"
  rmRes + 349, "編輯"
  rmRes + 350, "刪除"
  rmRes + 351, "編輯列表"
  rmRes + 352, "數据集及字段"
  rmRes + 353, "所有數据集"
  rmRes + 354, "外觀(&A)"
  rmRes + 355, "別名(&l)"
  rmRes + 356, "從列表中排除字段(&x)"
  rmRes + 357, "數据源"
  rmRes + 358, "所有數据源"
  rmRes + 359, "保存(&S)..."
  rmRes + 360, "Pack"

;--- FmtForm resources -------------------------------------------------------
  rmRes + 420, "變量格式"
  rmRes + 421, "變量格式"
  rmRes + 422, "小數位(&D)"
  rmRes + 423, "小數位分隔符(&s)"
  rmRes + 424, "自定義格式(&f)"

;--- FieldsForm resources ----------------------------------------------------
  rmRes + 450, "插入數据字段"

;--- GEditorForm resources ---------------------------------------------------
  rmRes + 460, "圖片"
  rmRes + 461, "伸展(&S)"
  rmRes + 462, "裝入(&L)..."
  rmRes + 463, "清除(&C)"
  rmRes + 464, "&Memo"
  rmRes + 465, "Save..."

;--- BandEditorForm resources ------------------------------------------------
  rmRes + 480, "Band 數据源"
  rmRes + 481, "數据源(&D)"
  rmRes + 482, "記錄數(&R)"

;--- VBandEditorForm resources ------------------------------------------------
  rmRes + 485, "Band 數据源"
  rmRes + 486, "Bands"
  rmRes + 487, "數据源"
  rmRes + 488, "記錄數(&R)"

;--- GroupEditorForm resources -----------------------------------------------
  rmRes + 490, "分組"
  rmRes + 491, "條件(&C)"
  rmRes + 492, "插入數据字段"
  rmRes + 493, "Show in outline"

;--- BandTypesForm resources -------------------------------------------------
  rmRes + 510, "插入新 band"
  rmRes + 511, "Band 類型"
  rmRes + 512, "Cross Band type"

;--- HilightForm resources ---------------------------------------------------
  rmRes + 520, "條件高亮度"
  rmRes + 521, "條件(&C)"
  rmRes + 522, "字体"
  rmRes + 523, "顏色..."
  rmRes + 524, "粗体(&B)"
  rmRes + 525, "斜体(&I)"
  rmRes + 526, "下划線(&U)"
  rmRes + 527, "背景色"
  rmRes + 528, "顏色..."
  rmRes + 529, "透明(&T)"
  rmRes + 530, "其它(&h)"

;--- AboutForm resources -----------------------------------------------------
  rmRes + 540, "關于 Report Machine"
  rmRes + 541, "Windows 的可用物理內存:"

;--- OleForm resources -------------------------------------------------------
  rmRes + 550, "OLE 對象"
  rmRes + 551, "插入(&I)..."
  rmRes + 552, "編輯(&E)..."
  rmRes + 553, "關閉(&C)"
  rmRes + 554, "插入對象(&O)..."
  rmRes + 555, "粘貼對象..."
  rmRes + 556, "复制對象"
  rmRes + 557, "清除對象"
  rmRes + 558, "對象屬性..."

;--- RichForm resources ------------------------------------------------------
  rmRes + 560, "Rich Edit"
  rmRes + 561, "打開..."
  rmRes + 562, "保存..."
  rmRes + 563, "取消"
  rmRes + 564, "粗体"
  rmRes + 565, "斜体"
  rmRes + 566, "左對齊"
  rmRes + 567, "中間對齊"
  rmRes + 568, "右對齊"
  rmRes + 569, "下划線"
  rmRes + 570, "列表"
  rmRes + 571, "字体"
  rmRes + 572, "特殊粘貼(&S)..."
  rmRes + 573, "保存退出"
  rmRes + 574, "不保存退出"
  rmRes + 575, "插入表達式..."
  rmRes + 576, "字体..."
  rmRes + 577, "字体大小"
  rmRes + 578, "行:"
  rmRes + 579, "列:"
  rmRes + 580, "上標"
  rmRes + 581, "下標"
  rmRes + 582, "查找(&F)..."
  rmRes + 583, "查找下一個"
  rmRes + 584, "替換(&E)..."
  rmRes + 585, "對象屬性..."
  rmRes + 586, "插入(&I)"
  rmRes + 587, "對象(&O)..."
  rmRes + 588, "圖片(&P)..."
  rmRes + 589, "格式(&F)"

;--- ChartForm resources -----------------------------------------------------
  rmRes + 590, "圖表"
  rmRes + 591, "圖表類型"
  rmRes + 592, "圖表數据"
  rmRes + 593, "類型"
  rmRes + 594, "對象名稱"
  rmRes + 595, "選項"
  rmRes + 596, "&3D"
  rmRes + 598, "顯示圖例"
  rmRes + 599, "顯示軸"
  rmRes + 600, "顯示標記"
  rmRes + 601, "多色顯示"
  rmRes + 602, "X軸："
  rmRes + 603, "Y軸："
  rmRes + 604, "標記"
  rmRes + 605, "風格"
  rmRes + 606, "值"
  rmRes + 607, "百分率"
  rmRes + 608, "標號"
  rmRes + 609, "標號及百分率"
  rmRes + 610, "標號及值"
  rmRes + 611, "前十個分組"
  rmRes + 612, "顯示圖例個數："
  rmRes + 613, "圖例："
  rmRes + 614, "值"
  rmRes + 616, "增加"
  rmRes + 617, "刪除"
  rmRes + 618, "編輯 Title..."
  rmRes + 619, "上移"
  rmRes + 620, "下移"
  rmRes + 597, "圖表選項"
  rmRes + 621, "數据集:"
  rmRes + 622, "標簽："
  rmRes + 623, "Chart屬性"
  rmRes + 624, "折線圖"
  rmRes + 625, "面積圖"
  rmRes + 626, "XY散點圖"
  rmRes + 627, "柱形圖"
  rmRes + 628, "條形圖"
  rmRes + 629, "餅圖"
  rmRes + 630, "Need Number Field"
  rmRes + 631, "Data Source"
  rmRes + 632, "Band Data"
  rmRes + 633, "DataSet"
  rmRes + 634, "Fixed Data"
  rmRes + 635, "Sort Type"
  rmRes + 636, "None"
  rmRes + 637, "Ascending"
  rmRes + 638, "Descending"
  rmRes + 639, "Data"
  rmRes + 640, "X Values (for example, a;b;c)"
  rmRes + 641, "Y Values (for example, 1;2;3)"
  rmRes + 642, "Series Options"
  rmRes + 643, "Gantt"
  rmRes + 644, "FastLine"

;--- BarCodeForm resources ---------------------------------------------------
  rmRes + 650, "條碼編輯器"
  rmRes + 651, "代碼(&C)"
  rmRes + 652, "條碼類型(&T)"
  rmRes + 653, "選項"
  rmRes + 654, "校驗和"
  rmRes + 655, "目讀數字(&H)"
  rmRes + 656, "插入表達式"
  rmRes + 657, "插入變量"
  rmRes + 658, "旋轉"
  rmRes + 659, "&放大:"
  rmRes + 660, "在條碼里顯示內容"
  rmRes + 661, "位置"
  rmRes + 662, "內容"
  rmRes + 663, "截斷條碼"
  rmRes + 664, "調節高度"
  rmRes + 665, "左"
  rmRes + 666, "中"
  rmRes + 667, "模式"
  rmRes + 668, "國家代碼"
  rmRes + 669, "服務類別"
  rmRes + 670, "郵遞代碼"
  rmRes + 671, "上;中;下"
  rmRes + 672, "運輸信息代碼"
  rmRes + 673, "標准信息代碼"
  rmRes + 674, "完全ECC 代碼"
  rmRes + 675, "顯示格式"
  rmRes + 676, "對齊"
  rmRes + 677, "邊框"
  rmRes + 678, "水平對齊"
  rmRes + 679, "垂直對齊"
  rmRes + 680, "文字對齊"
  rmRes + 681, "其它"
  rmRes + 682, "自動換行"
  rmRes + 683, "字形"
  rmRes + 684, "字號"
  rmRes + 685, "顏色"
  rmRes + 686, "常規"
  rmRes + 687, "傾斜"
  rmRes + 688, "加粗"
  rmRes + 689, "加粗 傾斜"
  rmRes + 690, "行數:"
  rmRes + 691, "列數:"
  rmRes + 692, "表頁尺寸..."
  rmRes + 693, "設置表頁大小"
  rmRes + 694, "單元格屬性..."
  rmRes + 695, "行高"
  rmRes + 696, "列寬"
  rmRes + 697, "右"

;--- ExprForm resources ------------------------------------------------------
  rmRes + 700, "表達式編輯器"
  rmRes + 701, "表達式"
  rmRes + 702, "插入"
  rmRes + 703, "字段(&D)..."
  rmRes + 704, "變量(&V)..."
  rmRes + 705, "函數(&F)..."
  rmRes + 706, "表:"
  rmRes + 707, "字段:"
  rmRes + 708, "插入變量"
  rmRes + 709, "繼續"
  rmRes + 710, "選擇函數"
  rmRes + 711, "輸入參數"
  rmRes + 712, "校驗"
  rmRes + 713, "插入字段"
  rmRes + 714, "日期時間型"
  rmRes + 715, "時間型"
  rmRes + 716, "日期型"
  rmRes + 717, "字符型"
  rmRes + 718, "邏輯型"
  rmRes + 719, "數字型"
  rmRes + 720, "值"
  rmRes + 721, "清除"
  rmRes + 722, "使用表名"

;--- AttrForm resources ------------------------------------------------------
  rmRes + 740, "對象tag"

;--- CrossForm resources -----------------------------------------------------
  rmRes + 750, "交叉表"
  rmRes + 751, "數据集"
  rmRes + 752, "小計"
  rmRes + 753, "函數"
  rmRes + 754, "交叉表屬性編輯器"
  rmRes + 755, "頭"
  rmRes + 756, "小計"
  rmRes + 757, "總計"
  rmRes + 758, "單元"
  rmRes + 759, "小計:"
  rmRes + 760, "項目"
  rmRes + 761, "重复標題欄"
  rmRes + 762, "顯示內部邊框"
  rmRes + 763, "顯示標題"

;--- CalcEditorForm resources -------------------------------------------------------
  rmRes + 770, "屬性"
  rmRes + 771, "統計類型"
  rmRes + 772, "合計(SUM)"
  rmRes + 773, "計數(COUNT)"
  rmRes + 774, "平均值(AVG)"
  rmRes + 775, "最大值(MAX)"
  rmRes + 776, "最小值(MIN)"
  rmRes + 777, "統計Band:"
  rmRes + 778, "統計條件:"
  rmRes + 779, "打印后初始化"
  rmRes + 769, "統計不可見行"
  rmRes + 768, "User"
  rmRes + 767, "初始化值:"
  rmRes + 766, "計算值:"
  rmRes + 765, "User Calc"
  rmRes + 764, "Reset Group"

;--- TemplForm resources -----------------------------------------------------
  rmRes + 780, "新建報表"
  rmRes + 781, "預覽"
  rmRes + 782, "模版"
  rmRes + 783, "向導"
  rmRes + 794, "瀏覽"
  rmRes + 795, "建立"

  rmRes + 796, "左邊框"
  rmRes + 797, "上邊框"
  rmRes + 798, "右邊框"
  rmRes + 799, "下邊框"
  rmRes + 800, "斜線"
  rmRes + 801, "插入列"
  rmRes + 802, "插入行"
  rmRes + 803, "刪除列"
  rmRes + 804, "刪除行"
  rmRes + 805, "合并單元格"
  rmRes + 806, "拆分單元格"
  rmRes + 807, "單元格"
  rmRes + 808, "左邊"
  rmRes + 809, "右邊"
  rmRes + 810, "上邊"
  rmRes + 811, "下邊"
  rmRes + 812, "列"
  rmRes + 813, "行"
  rmRes + 814, "單元格類型"
;  rmRes + 815, "標題:"
  rmRes + 816, "作者:"
  rmRes + 817, "公司:"
  rmRes + 818, "版權:"
  rmRes + 819, "描述:"
  rmRes + 820, "報表屬性"

  rmRes + 821, "查找:"
  rmRes + 822, "替換:"
  rmRes + 823, "查找和替換"
  rmRes + 824, "區分大小寫"
  rmRes + 825, "在Script中查找"
  rmRes + 826, "在Memo中查找"
  rmRes + 827, "查找"
  rmRes + 828, "替換"
  rmRes + 829, "停止"
  rmRes + 830, "替換所有的"
  rmRes + 831, "關閉"
  rmRes + 832, "對象"
  rmRes + 833, "ID"
  rmRes + 834, "Memo"
  rmRes + 835, "Script"
  rmRes + 836, "沒有選擇對象"
  rmRes + 837, "將報表中所有的%s""%s""%s替換成%s""%s""?"
  rmRes + 838, "將所選對象中的%s""%s""%s替換成%s""%s""?"
  rmRes + 839, "空白報表"
  rmRes + 840, "縮進"
  rmRes + 841, "左(&L):"
  rmRes + 842, "右(&R):"
  rmRes + 843, "首行(&F):"
  rmRes + 844, "對齊方式"
  rmRes + 845, "左"
  rmRes + 846, "右"
  rmRes + 847, "中"
  rmRes + 848, "間距"
  rmRes + 849, "之前:"
  rmRes + 850, "之后:"
  rmRes + 851, "行間距:"
  rmRes + 852, "段落(&P)..."
  rmRes + 853, "段落"
  rmRes + 854, "Insert Column Left"
  rmRes + 855, "Column Number"
  rmRes + 856, "Insert Row Top"
  rmRes + 857, "Row Number"
  rmRes + 858, "Insert Column Right"
  rmRes + 859, "Insert Row Bottom"
  rmRes + 860, "Insert Band"
  rmRes + 861, "Copy Page"
  rmRes + 862, "Paste Page"
  rmRes + 863, "Frame"
  rmRes + 864, "Double Line"
  rmRes + 865, "Frame Prop"
  rmRes + 866, "Cell Edit Toolbar"
  rmRes + 867, "Page Header/Footer"
  rmRes + 868, " Page Header "
  rmRes + 869, " Page Footer "
  rmRes + 870, "Title"
  rmRes + 871, " First Title "
  rmRes + 872, " Second Title "
  rmRes + 873, "Option"
  rmRes + 874, "Page Header/Footer..."
  rmRes + 875, "Band DataSet..."
  rmRes + 876, "Band..."
  rmRes + 877, "Preview template"
  rmRes + 878, "Auto"
  rmRes + 879, "Visible"
  rmRes + 880, "Printable"
  rmRes + 881, "Clear Contents"
  rmRes + 882, "Stretch to Max Height"
  rmRes + 883, "Keep Detail Together"
  rmRes + 884, "Keep Footer Together"
  rmRes + 885, "Keep Child Together"
  rmRes + 886, "DataSet"
  rmRes + 887, " Options "
  rmRes + 888, "Font"
  rmRes + 889, "Auto Append Blank"
  rmRes + 890, "Auto Center"
  rmRes + 891, "Report Define"
  rmRes + 892, "New Item"
  rmRes + 893, "Delete Item"
  rmRes + 894, "New SubItem"
  rmRes + 895, "Title"
  rmRes + 896, "Field"
  rmRes + 897, " Data Property"
  rmRes + 898, "Width"
  rmRes + 899, "Title Property"
  rmRes + 900, "Align"
  rmRes + 901, "BackColor"
  rmRes + 902, "Footer Property"
  rmRes + 903, "Calc Type"
  rmRes + 904, "Common"
  rmRes + 905, "Page Calc"
  rmRes + 906, "Total Calc"
  rmRes + 907, "Group Calc"
  rmRes + 908, "leiji Calc"
  rmRes + 909, "Up"
  rmRes + 910, "Down"
  rmRes + 911, "Up Level"
  rmRes + 912, "Down Level"
  rmRes + 913, "Other Property"
  rmRes + 914, "Html Memo Editor"
  rmRes + 915, "Html Memo"
  rmRes + 916, "DB Field"
  rmRes + 917, "Font"
  rmRes + 918, "Italic"
  rmRes + 919, "Font"
  rmRes + 920, "Superscript"
  rmRes + 921, "Subscript"
  rmRes + 922, "upline"
  rmRes + 923, "underline"
  rmRes + 924, "Alias Name"
  rmRes + 925, "Field Name"
  rmRes + 926, "Dataset Dictionay"
  rmRes + 927, "DataSet Alias"
  rmRes + 928, "Reset"
  rmRes + 929, "Cell Prop"
  rmRes + 930, "Print On Parent"
  rmRes + 931, "New Table"
  rmRes + 932, "Split Cells By Column"
  rmRes + 933, "Split Cells By Row"
  rmRes + 934, "Insert Cell"
  rmRes + 935, "Add Cell"
  rmRes + 936, "Delete Cell"
  rmRes + 937, "Print"
  rmRes + 938, "Styles"

;--- Strings resources -------------------------------------------------------
  SRemovePg, "刪除該頁嗎?"
  SConfirm, "确認"

  SSystemVariables, "系統變量"
  SVar1, "頁#"
  SVar2, "應用程序路徑"
  SVar3, "日期"
  SVar4, "時間"
  SVar5, "日期時間"
  SVar6, "行#"
  SVar7, "行 through#"
  SVar8, "列#"
  SVar9, "當前行#"
  SVar10, "總頁數(需要選擇'兩遍報表')"
  SStretched, "伸展"
  SVarFormat, "變量格式..."
  SWordWrap, "自動折行"
  SWordBreak, ""
  SFormNewPage, "強迫換頁"
  SPrintIfSubsetEmpty, "為空時打印"
  SBreaked, "分隔"
  SPictureCenter, "圖片中心化"
  SKeepAspectRatio, "保持縱橫比"
  SFormFile, "ReportMachine 表單"
  STemplFile, "ReportMachine 模版"
  SDictFile, "ReportMachine 數据字典"
  SPictFile, "圖片文件"
  SAllFiles, "所有文件"
  SInsOLEObject, "插入 OLE 對象"
  SInsRichObject, "插入 RichText 對象"
  SInsRich2Object, "插入 RX RichText 對象"
  SInsWwRichObject, "插入 ww RichText 對象"
  SInsCheckBox, "插入 CheckBox 對象"
  SInsChart, "插入 Chart 對象"
  SInsShape, "插入 Shape 對象"
  SInsBarcode, "插入 Barcode 對象"
  SInsRoundRect, "插入帶陰影的RoundRect"
  rmRes + 2496, "ClientDataSet"
  rmRes + 2497, "DCOMConnection"
  rmRes + 2498, "SocketConnection"
  rmRes + 2503, "插入 DB Chart"
  SSubReportOnPage, "在頁面打印子報表"
  SPicture, "[圖片]"
  STransparent, "透明"
  SOther, "其它..."
  SOnFirstPage, "在第一頁"
  SOnLastPage, "在最后一頁"
  SRepeatHeader, "顯示所有頁"
  SDesignReport, "設計報表"
  SInsertFields, "插入數据庫字段"
  SSaveChanges, "保存變動"
  STo, "到"
  SPixels, "象素"
  SMM, "MM"
  SInches, "英寸"
  SVirtualDataset, "虛擬數据集"
  SAutoSize, "自動大小"
  SRMVariables, "RM 變量"
  SClearContents, "清除內容"

  SAllCategories, "所有函數"
  SDateTimeCategory, "日期/時間"
  SStringCategory, "字符串"
  SOtherCategory, "其它"
  SMathCategory, "數學"
  SBoolCategory, "邏輯"
  SIntrpCategory, "解釋器"
  SAggregateCategory, "統計"

  SRMCalcType, "統計類型..."
  SRMResetAfterPrint, "打印后初始化"

  SDescriptionDAY, "Day(<Date>)|"
    "返回<Date>的日期數(1..31)."

  SDescriptionFORMATDATETIME, "FormatDateTime(<Fmt>, <DateTime>)|"
    "按<Fmt>轉換 <DateTime> 值為字符串."

  SDescriptionFORMATFLOAT, "FormatFloat(<Fmt>, <Numeric>)|"
    "按<Fmt>轉換<Numeric>值為字符串."

  SDescriptionINPUT, "Input(<Caption> [,Default])|"
    "顯示帶編輯的對話框，標題為 <Caption>. "
    "如設置了[Default],則把該值放入編輯框里. "
    "當用戶按[确認]按鈕，則返回輸入字符串."

  SDescriptionLENGTH, "Length(<String>)|"
    "返回<String>的長度."

  SDescriptionLOWERCASE, "LowerCase(<String>)|"
    "轉換<String>為小寫."

  SDescriptionMONTH, "Month(<Date>)|"
    "返回<Date>月值(1..12)."

  SDescriptionNAMECASE, "NameCase(<String>)|"
    "轉換<String>符號為小寫,""首字符大寫."

  SDescriptionSTRTODATE, "StrToDate(<String>)|"
    "轉換<String>為日期型."

  SDescriptionSTRTOTIME, "StrToTime(<String>)|"
    "轉換<String>為時間型."

  SDescriptionTRIM, "Trim(<String>)|"
    "返回去掉<String>前后空格的字符串 "

  SDescriptionUPPERCASE, "UpperCase(<String>)|"
    "轉換<String> 為大寫."

  SDescriptionYEAR, "Year(<Date>)|"
    "返回<Date>年部分."

  SDescriptionIF, "If(<Expression>, <Value1>, <Value2>)|"
    "如表達式<Expression> 為真，返回 <Value1>; "
    "否則，返回 <Value2>"

  SDescriptionCOPY, "Copy(<String>, <From>, <Count>)|"
    "返回<string>的子串."

  SDescriptionMOD, "<Value1> Mod <Value2>|"
    "返回模運算."

  SDescriptionSTR, "Str(<Value>)|"
    "轉換數值<Value>為字符串."

  SDescriptionNOT, "Not <Value>|"
    "邏輯 'NOT'."

  SDescriptionAND, "<Value1> And <Value2>|"
    "邏輯 'AND'."

  SDescriptionOR, "<Value1> Or <Value2>|"
    "邏輯 'OR'."

  SDescriptionROUND, "Round(<Value>)|"
    "返回 <Value>取整舍入."

  SDescriptionFRAC, "Frac(<Value>)|"
    "返回<Value>小數部分."

  SDescriptionINT, "Int(<Value>)|"
    "返回<Value>整數部分."

  SDescriptionTRUE, "TRUE|"
    "邏輯 'TRUE'."

  SDescriptionFALSE, "FALSE|"
    "邏輯 'FALSE'."

  SDescriptionPAGE, "PAGE#|"
    "返回當前頁數."

  SDescriptionDATE, "DATE|"
    "返回當前日期."

  SDescriptionTIME, "TIME|"
    "返回當前時間."

  SDescriptionLINE, "LINE#|"
    "返回數据行數(從分組起始位置起)."

  SDescriptionLINETHROUGH, "LINETHROUGH#|"
    "返回數据行數(從報表起始位置起)."

  SDescriptionCOLUMN, "COLUMN#|"
    "返回當前欄目數."

  SDescriptionTOTALPAGES, "TOTALPAGES|"
    "報表總頁數."

  SDescriptionMROK, "mrOK|"
    "對話框常量."

  SDescriptionMRCancel, "mrCancel|"
    "對話框常量."

  SDescriptionCurY, "CurY|"
    "返回當前Band顯示的'Y'向(象素)坐標 "

  SDescriptionFreeSpace, "FreeSpace|"
    "返回剩余頁面空象素."

  SDescriptionFinalPass, "FinalPass|"
    "若是最后掃描返回True."

  SDescriptionPageHeight, "PageHeight|"
    "頁高度象素."

  SDescriptionPageWidth, "PageWidth|"
    "頁寬度象素."

  SDescriptionProgress, "Progress|"
    "顯示在進程窗口的進程值."

  SDescriptionModalResult, "ModalResult|"
    "賦非零值導致關閉對話框."

  SDescriptionStopReport, "StopReport|"
    "停止報表處理."

  SDescriptionNewPage, "NewPage|"
    "開始新頁."

  SDescriptionNewColumn, "NewColumn|"
    "開始新欄目."

  SDescriptionShowBand, "ShowBand(<BandName>)|"
    "顯示<BandName>."

  SDescriptionINC, "Inc(<Value>)|"
    "遞增 <Value>."

  SDescriptionDEC, "Dec(<Value>)|"
    "遞減 <Value>."

  SDescriptionMAXNUM, "MaxNum(<Value1>, <Value2>)|"
    "返回最大值."

  SDescriptionMINNUM, "MinNum(<Value1>, <Value2>)|"
    "返回最小值."

  SDescriptionPOS, "Pos(<SubString>, <String>)|"
    "返回子字符串在給定字符串中的位置."

  SDescriptionMESSAGEBOX, "MessageBox(<Text>, <Title>, <Buttons>)|"
    "顯示以<Text>,<Title>標准對話框,按鈕<Buttons>."

  SDescriptionFORMATTEXT, "FormatText(<Mask>, <String>)|"
    "以<Mask>格式化給定字符串<String>."

  SDescriptionCnNumber, "CNumber(Value)|阿拉伯數字轉換為中文數字"
  SDescriptionCurrToBigNum, "CurrToBigNum(Value)|數字轉換為人民幣大寫"
  SDescriptionDiv, "Div(<Value1>, <Value2>)|Integer division of <X> by <Y>"
  SDescriptionRMRound, "RMRound(<Value1>, <Value2>)|四舍五入"

  SDescriptionCOUNT, "Count(<BandName>, [1], [Condition])|返回給定<BandName>上的數据行數. "
  SDescriptionAVG, "AVG(<Expression>, [BandName], [1], [Condition])|"
    "計算給定行的[BandName]上 <Expression>的平均值. "
    "如果用[1]參數,則計算亦包含非可見行的."
  SDescriptionMAX, "MAX(<Expression>, [BandName], [1], [Condition]|"
    "計算[BandName]上<Expression>最大值. "
    "若使用[1]參數,則計算包括非可見行."
  SDescriptionMIN, "MIN(<Expression>, [BandName], [1], [Condition])|"
     "計算[BandName]上<Expression>最小值. "
     "若使用[1]參數,則計算包括非可見行."
  SDescriptionSUM, "SUM(<Expression>, [BandName], [1], [Condition])|"
    "計算[BandName]上<Expression>的和. "
    "若使用[1]參數,則計算包括非可見行."

  SInformation, "信息"
  SExpressionOK, "表達式通過!"
  STextOnly, "只能是文本"
  SSuppressRepeated, "壓縮重复值"
  SDeleteObjects, "這將刪除該頁所有對象."
  SHideZeros, "隱藏零值"
  SPrintChild, "打印子Band不可見"
  SUnderlines, "下划線"
  SAutoAppendBlank, "自動增加空行"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "插入Cross-tab對象"
  SInsAngledLabel, "插入Angled Label對象"
}
