# include "RM_Const.pas"

STRINGTABLE
{
 rmRes + 0, "查找文本"
 rmRes + 1, "待查文本(&F)"
 rmRes + 2, "選項"
 rmRes + 3, "大小寫敏感"
 rmRes + 4, "起點"
 rmRes + 5, "首頁"
 rmRes + 6, "當前頁"
 rmRes + 7, "顯示比例"
 rmRes + 8, "放大鏡"
 rmRes + 9, "保存為excel格式文件"
 rmRes + 10, "修改報表"
 rmRes + 11, "預覽工具欄"
 rmRes + 20, "頁寬(&P)"
 rmRes + 21, "整頁(&W)"
 rmRes + 22, "雙頁(&T)"
 rmRes + 23, "關閉預覽"
 rmRes + 24, "頁面設置"
 rmRes + 25, "打開報表"
 rmRes + 26, "保存報表"
 rmRes + 27, "打印報表"
 rmRes + 28, "查找文本"
 rmRes + 29, "編輯頁..."
 rmRes + 30, "增加頁"
 rmRes + 31, "刪除頁..."
 rmRes + 32, "第一頁"
 rmRes + 33, "上一頁"
 rmRes + 34, "下一頁"
 rmRes + 35, "最后一頁"
 rmRes + 40, "打印"
 rmRes + 41, "打印机"
 rmRes + 42, "屬性"
 rmRes + 43, "打印份數"
 rmRes + 44, "頁范圍"
 rmRes + 45, "全部(&A)"
 rmRes + 46, "當前頁(&g)"
 rmRes + 47, "頁(&P):"
 rmRes + 48, "輸入頁號或頁范圍,逗號分隔.例如: 1,3,5-12"
 rmRes + 49, "名稱(&N):"
 rmRes + 50, "打印份數:"
 rmRes + 51, "逐份打印"
 rmRes + 52, "打印:"
 rmRes + 53, "全部頁"
 rmRes + 54, "奇數頁"
 rmRes + 55, "偶數頁"
 rmRes + 56, "狀態:"
 rmRes + 57, "類型:"
 rmRes + 58, "位置:"
 rmRes + 376, "打印當前頁"
 rmRes + 377, "全字匹配"
 rmRes + 378, "文件:"
 rmRes + 379, "選項"
 rmRes + 380, "導出完成后顯示Excel"
 rmRes + 381, "顯示導出過程"
 rmRes + 382, "Pages of sheet (Max 100)"
; rmRes + 383, "請將出紙器中一打印好一面的紙取出并將其放回到送紙器中，然后按'确定'按鈕，繼續打印"
 rmRes + 384, "Apply to All Pages"

 rmRes + 1800, "文本導出選項"
 rmRes + 1801, "壓縮空行(&K)"
 rmRes + 1802, "轉換到DOS(&D)"
 rmRes + 1803, "導出框線"
 rmRes + 1804, "使用DOS偽圖形(&p)"
 rmRes + 1805, "插入頁分隔(&b)"
 rmRes + 1806, "縮放比例:"
 rmRes + 1810, "CSV 導出選項"
 rmRes + 1811, "&CSV 分隔"
 rmRes + 1820, "RTF 導出選項"
 rmRes + 1821, "導出圖片(&p)"
 rmRes + 1822, "轉換表格(&t)"
 rmRes + 1830, "Html 導出選項"
 rmRes + 1807, "BMP 圖片導出選項"
 rmRes + 1808, "單色"
 rmRes + 1809, "Metafile導出選項"
 rmRes + 1812, "灰度"
 rmRes + 1813, "顯示編碼進度"
 rmRes + 1814, "質量"
 rmRes + 1815, "1 = 最大壓縮, 100 = 最高質量"
 rmRes + 1816, "圖片格式"
 rmRes + 1817, "PDF 導出選項"
 rmRes + 1818, "圖片目錄:"
 rmRes + 1819, "每頁有分隔線"
 rmRes + 1823, "顯示導航條"
 rmRes + 1824, "Hover 前景色"
 rmRes + 1825, "背景顏色"
 rmRes + 1826, "Hover 背景色"
 rmRes + 1827, "鏈接選項"
 rmRes + 1828, "第一頁:"
 rmRes + 1829, "上一頁:"
 rmRes + 1799, "下一頁:"
 rmRes + 1798, "最后一頁:"
 rmRes + 1797, "圖片"
 rmRes + 1796, "第一頁"
 rmRes + 1795, "上一頁"
 rmRes + 1794, "下一頁"
 rmRes + 1793, "最后一頁"
 rmRes + 1792, "使用文字鏈接"
 rmRes + 1791, "使用圖片鏈接"
 rmRes + 1790, "Gif 圖片導出選項"
 rmRes + 1789, "Jpeg 圖片導出選項"
 rmRes + 1788, "分辨率:"
 rmRes + 1787, "導航條"
 rmRes + 1786, "一個文件"
 rmRes + 1785, "壓縮率:"
 rmRes + 1784, "不壓縮"
 rmRes + 1783, "最快"
 rmRes + 1782, "一般"
 rmRes + 1780, "導出成mht文件"
 rmRes + 1779, "XLS 導出選項"

 rmRes + 1831, "備注:"
 rmRes + 1833, "打印机忙"
 rmRes + 1834, "Door Open"
 rmRes + 1835, "錯誤"
 rmRes + 1836, "正在初始化"
 rmRes + 1837, "IO Active"
 rmRes + 1838, "手動進紙"
 rmRes + 1839, "No Toner"
 rmRes + 1840, "不可用"
 rmRes + 1841, "沒有聯机"
 rmRes + 1842, "打印机內存滿"
 rmRes + 1843, "出紙盒滿"
 rmRes + 1844, "出紙"
 rmRes + 1845, "紙張堵塞"
 rmRes + 1846, "缺紙"
 rmRes + 1847, "紙張有問題"
 rmRes + 1848, "暫停"
 rmRes + 1849, "Pending Deletion"
 rmRes + 1850, "正在打印"
 rmRes + 1851, "正在處理"
 rmRes + 1852, "Toner Low"
 rmRes + 1853, "用戶干涉"
 rmRes + 1854, "報警"
 rmRes + 1855, "正在預熱"
 rmRes + 1856, "有%d篇文檔正在等待打印"
 rmRes + 1857, "頁面寬度"
 rmRes + 1858, "整頁"
 rmRes + 1859, "雙頁"
 rmRes + 1860, "縮放"
 rmRes + 1861, "按紙型縮放:"
 rmRes + 1862, "無縮放"
 rmRes + 1863, "縮放比例:"
 rmRes + 1864, "打印"
 rmRes + 1865, "空閑"
 rmRes + 1866, "打印..."
 rmRes + 1867, "插入新頁(之前)"
 rmRes + 1868, "插入新頁(之后)"
 rmRes + 1869, "追加新頁"
 rmRes + 1870, "打印机分辨率"
 rmRes + 1871, "Show outline"

;--- PgoptForm resources -----------------------------------------------------
  rmRes + 368, "Auto Set PageLength"
  rmRes + 369, "Print multicolor"
  rmRes + 371, "打印机:"
  rmRes + 372, "標題:"
  rmRes + 373, "其它"
  rmRes + 374, "兩遍報表(&T)"
  rmRes + 375, "Print BackGroup Picture"
  rmRes + 390, "頁面設置"
  rmRes + 391, "紙張類型(&S)"
  rmRes + 392, "打印方向"
  rmRes + 393, "縱向(&P)"
  rmRes + 394, "橫向(&L)"
  rmRes + 395, "大小:"
  rmRes + 396, "寬度(厘米):"
  rmRes + 397, "高度(厘米):"
  rmRes + 398, "頁邊距(&M)"
  rmRes + 399, "預覽"
  rmRes + 400, "左(厘米):"
  rmRes + 401, "上(厘米):"
  rmRes + 402, "右(厘米):"
  rmRes + 403, "下(厘米):"
  rmRes + 405, "其它"
  rmRes + 406, "選項"
  rmRes + 407, "打印到前一頁(&P)"
  rmRes + 408, "分欄"
  rmRes + 409, "欄數(&N):"
  rmRes + 410, "欄間隔(厘米):"
  rmRes + 411, "紙張來源(&P)"
  rmRes + 412, "紙張來源:"
  rmRes + 413, "不限制高度"
  rmRes + 370, "上偏移(厘米):"
  rmRes + 404, "左偏移(厘米):"
  rmRes + 414, "打印偏移"
  rmRes + 415, "Convert Null Field to empty Value"
  rmRes + 213, "有一處或多處頁邊距設置了頁面的可打印區域之外，是否自動調整頁邊距？"

  SDefaultBin, "缺省"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "自定義"
  SPaper800, "16開(18.4 x 26 厘米)"
  SPaper801, "32開(13 x 18.4 厘米)"
  SPaper802, "大32開(14 x 20.3 厘米)"
  SPaper803, "寬行連續紙"
  SPaper804, "窄行連續紙"

 SOk, "确認"
 SCancel, "取消"
 SYes, "是"
 SNo, "否"
 SPg, "頁"
 SNotAssigned, "[無]"
 SDefaultPrinter, "默認打印机"
 SVirtualPrinter, "虛擬打印机"
 SBand1, "標題"
 SBand2, "總結"
 SBand3, "頁標頭"
 SBand4, "頁注腳"
 SBand5, "數据標頭"
 SBand6, "數据注腳"
 SBand7, "主項數据"
 SBand8, "細項數据"
 SBand9, "浮動"
 SBand10, "欄目標頭"
 SBand11, "欄目注腳"
 SBand12, "分組標頭"
 SBand13, "分組注腳"
 SBand14, "交叉表標頭"
 SBand15, "交叉表數据"
 SBand16, "交叉表注腳"
 SBand17, "子欄"
 SBand18, "無"
 SCateg1, "文本"
 SCateg2, "數字"
 SCateg3, "日期"
 SCateg4, "時間"
 SCateg5, "布爾"

 SFormat11, "[無]"

  SFormat21, "1234.5"
  SFormat22, "1234.50"
  SFormat23, "1,234,5"
  SFormat24, "1,234.50"
  SFormat25, "Custom"

 SFormat31, "98.11.15"
 SFormat32, "1998.11.15"
 SFormat33, "1998年11月15日"
 SFormat34, "1998 11 15"
 SFormat35, "1998/11/15"
 SFormat36, "星期六 1998 11 15"
 SFormat37, "星期六 1998年11月15日"
 SFormat38, "自定義"

 SFormat41, "02:43:35"
 SFormat42, "2:43:35"
 SFormat43, "02:43"
 SFormat44, "2:43"
 SFormat45, "自定義"

 SFormat51, "0;1"
 SFormat52, "否;是"
 SFormat53, "_;x"
 SFormat54, "假;真"
 SFormat55, "自定義"

 SDateFormat1, "yy.mm.dd"
 SDateFormat2, "yyyy.mm.dd"
 SDateFormat3, "yyyy'年'mm'月'dd'日'"
 SDateFormat4, "yyyy MM dd"
 SDateFormat5, "yyyy/mm/dd"
 SDateFormat6, "dddd yyyy MM dd"
 SDateFormat7, "dddd yyyy'年'M'月'd'日'"

 STimeFormat1, "hh:nn:ss"
 STimeFormat2, "h:nn:ss"
 STimeFormat3, "hh:nn"
 STimeFormat4, "h:nn"

 SFrom, "從"
 SErrorOccured, "計算時發生錯誤"
 SDoc, "報表:"
 SObject, "對象:"
 SReportPreparing, "正在准備報表"
 SFirstPass, "進行第一次處理:"
 SPagePreparing, "正在處理頁:"
 SError, "錯誤"
 SPreview, "預覽"
 SPagePrinting, "正在打印頁:"
 SUntitled, "Untitled"
 SPrinterError, "所選打印机錯誤"
 SRepFile, "Report 文件"
 STextFile, "ASCII Text 文件"
 SRTFFile, "Rich Text 文件"
 SCSVFile, "Excel 文件"
 SHTMFile, "Html 文件"
 SFont, "字体..."
 SCharset, "1"
 SDefaultCharset, "136"
 SRMDefaultFontSize, "9"
 SRMDefaultFontName, "新細明體"
 SRMIsChineseGB, "0"
 SBarcodeError, "條碼錯誤"
 SRMFError, "不支持的rmf格式"
 SUndefinedSymbol, "符號沒定義"
 SRMCustomPaperSize, "自定義大小"
 SBMPFile, "位圖文件(*.bmp)"
 SEMFFile, "Enhanced Metafile (*.emf)"
 SWMFFile, "Windows Metafile (*.wmf)"
 SGIFFile, "GIF Image File (*.gif)"
 SJPEGFile, "JPEG Image File (*.jpg)"
 SPDFFile, "Adobe Acrobat Document (*.pdf)"
 SNotRMFFile, "不是ReportMachine報表文件！"
 SNotRMDFile, "不是ReportMachine數据字典文件!"
 SNotRMPFile, "不是ReportMachine報表文件!"
 SNotRMTFile, "不是ReportMachine報表模板文件!"
 SWarning, "警告"
}

