#include "RM_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  rmRes + 3000, "報表數据集"
  rmRes + 3001, "屬性(&P)..."
  rmRes + 3002, "新建表(&table)..."
  rmRes + 3003, "新建查詢(&query)..."
  rmRes + 3004, "刪除(&R)"
  rmRes + 3005, "關閉(&C)"
  rmRes + 3006, "新建數据庫(&database)..."
  rmRes + 3007, "預覽數据..."

;--- TablePropForm resources -------------------------------------------------
  rmRes + 3020, "一般"
  rmRes + 3021, "名(&N)"
  rmRes + 3022, "字段(&Fields)"
  rmRes + 3023, "字段編輯器(&F)..."
  rmRes + 3024, "其它"
  rmRes + 3025, "索引(&I)"
  rmRes + 3026, "過濾表達式(&e)"
  rmRes + 3027, "主表(&M)"
  rmRes + 3028, "主表字段(&s)"

;--- FieldsEditorForm resources ----------------------------------------------
  rmRes + 3040, "添加字段(&A)..."
  rmRes + 3041, "添加查找字段（&l）..."
  rmRes + 3042, "全選(&S)"
  rmRes + 3043, "刪除(&D)"
  rmRes + 3044, "退出(&E)"
  rmRes + 3045, "修改"

;--- FieldsListForm resources ------------------------------------------------
  rmRes + 3060, " 可用字段"

;--- LookupFieldForm resources -----------------------------------------------
  rmRes + 3070, "新建查找字段"
  rmRes + 3071, "字段"
  rmRes + 3072, "名稱(&N)"
  rmRes + 3073, "類型(&T)"
  rmRes + 3074, "長度(&S)"
  rmRes + 3075, "查找定義"
  rmRes + 3076, "關鍵字段(&Key)"
  rmRes + 3077, "數据表(&D)"
  rmRes + 3078, "查找關鍵字段(&L)"
  rmRes + 3079, "結果字段(&R)"

;--- Query Designer resources ------------------------------------------------
  rmRes + 3080, "字段"
  rmRes + 3081, "計算字段"
  rmRes + 3082, "分組"
  rmRes + 3083, "排序"
  rmRes + 3084, "升序/降序"
  rmRes + 3085, "字段..."
  rmRes + 3086, "參數.."
  rmRes + 3087, "新查詢"
  rmRes + 3088, "讀入文件..."
  rmRes + 3089, "保存到文件..."
  rmRes + 3090, "字段"
  rmRes + 3091, "升序/降序"
  rmRes + 3092, "SQL文件(*.SQL)|*.SQL|Visual Query文件(*.QB)|*.QB"
  rmRes + 3093, "手工修改"
  rmRes + 3094, "真的要建立新查詢嗎？"

;--- ParamsForm resources ----------------------------------------------------
  rmRes + 3110, "參數"
  rmRes + 3111, "數据類型(&D)"
  rmRes + 3112, "名稱(&N)"
  rmRes + 3113, "值(&V):"
  rmRes + 3114, "打印前請求輸入參數值(&A)"
  rmRes + 3115, "從主數据集賦值(&m)"
  rmRes + 3116, "變量(&r):"

;--- FieldsLinkForm resources ------------------------------------------------
  rmRes + 3130, "明細字段(&D)"
  rmRes + 3131, "主字段(&M)"
  rmRes + 3132, "連接字段(&J)"
  rmRes + 3133, "添加(&A)"
  rmRes + 3134, "清除(&C)"

;--- Report Explorer resources -----------------------------------------------
  rmRes + 3135, "  所有文件夾"
  rmRes + 3136, "上一級文件夾"
  rmRes + 3137, "打開"
  rmRes + 3138, "新文件夾"
  rmRes + 3139, "新報表"
  rmRes + 3140, "打印..."
  rmRes + 3141, "打印預覽..."
  rmRes + 3142, "刪除..."
  rmRes + 3143, "顯示項目列表"
  rmRes + 3144, "顯示窗口中每一項的信息"
  rmRes + 3145, "退出"
  rmRes + 3146, "新建(&N)"
  rmRes + 3147, "文件夾"
  rmRes + 3148, "報表"
  rmRes + 3149, "重命名(&R)"
  rmRes + 3150, "查看(&V)"
  rmRes + 3151, "工具欄(&T)"
  rmRes + 3152, "狀態欄(&B)"
  rmRes + 3153, "列表(&L)"
  rmRes + 3154, "詳細資料(&D)"
  rmRes + 3155, "瀏覽"
  rmRes + 3156, "清空回收站"
  rmRes + 3157, "報表"
  rmRes + 3158, "文件夾"
  rmRes + 3159, "所有文件夾"
  rmRes + 3160, "回收站"
  rmRes + 3161, "真的刪除這個文件夾嗎?"
  rmRes + 3162, "刪除"
  rmRes + 3163, "名稱"
  rmRes + 3164, "大小"
  rmRes + 3165, "類型"
  rmRes + 3166, "修改時間"
  rmRes + 3167, "真的刪除所選擇的文件夾和報表嗎?"
  rmRes + 3168, "提示信息"


;--- ADOForm resources -------------------------------------------------------
  rmRes + 3230, "連結"
  rmRes + 3231, "使用文件"
  rmRes + 3232, "使用字符串"
  rmRes + 3233, "數据庫"
  rmRes + 3234, "名稱:"
  rmRes + 3235, "別名:"
  rmRes + 3236, "驅動程序:"
  rmRes + 3237, "參數:"
  rmRes + 3238, "默認值"
  rmRes + 3239, "清除"
  rmRes + 3240, "文件夾"
  rmRes + 3241, "本地數据庫"
  rmRes + 3242, "遠程數据庫"
  rmRes + 3243, "服務器:"
  rmRes + 3244, "協議:"
  rmRes + 3245, "選項"
  rmRes + 3246, "用戶:"
  rmRes + 3247, "口令:"
  rmRes + 3248, "SQLRole:"
  rmRes + 3249, "瀏覽..."
  rmRes + 3250, "記錄"
  rmRes + 3251, "建立..."
  rmRes + 3252, "選擇文件夾"

;--- Strings resources -------------------------------------------------------
  SFields, "字段"
  SPath, "路徑"
  SRemoveDS, "确認刪除部件嗎?"
  STables, "表格"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "數据管理"
  SParams, "參數"
  SQueryError, "非法SQL語句或參數"
  STableProps, "表屬性"
  SParamDialog, "參數對話框"
  SInvalidParamValue, "非法參數值"
  SDatabase, "數据庫"
  SFieldSizeError, "非法字段長度"
}
