#include "RM_Const.pas"

STRINGTABLE
{
  rmRes + 5001, "Active=激活"
  rmRes + 5002, "AliasName=數据表別名"
  rmRes + 5003, "Alignment=對齊"
  rmRes + 5004, "AutoSize=自動大小"
  rmRes + 5005, "AutoWidth=自動寬度;如果內容過多，可以自動變寬"
  rmRes + 5006, "BandAlign=對齊"
  rmRes + 5007, "Barcode=條碼"
  rmRes + 5008, "BeginColor=開始的顏色"
  rmRes + 5009, "BlobType=數据類型"
  rmRes + 5010, "BorderStyle=邊框類型"
  rmRes + 5011, "BottomMargin=下邊距"
  rmRes + 5012, "WordWrap=自動折行"
  rmRes + 5013, "Caption=標題"
  rmRes + 5014, "Center=居中"
  rmRes + 5015, "CharSpacing=字間距"
  rmRes + 5016, "CheckColor=檢查框顯示顏色"
  rmRes + 5017, "Checked=檢查值"
  rmRes + 5018, "CheckStyle=檢查框類型"
  rmRes + 5019, "ChildBand=子帶區"
  rmRes + 5020, "Color=顏色"
  rmRes + 5021, "ColumnGap=欄間距"
  rmRes + 5022, "Columns=分欄數"
  rmRes + 5023, "ColumnWidth=欄寬"
  rmRes + 5024, "Connected=連接"
  rmRes + 5025, "Condition=條件"
  rmRes + 5026, "DatabaseName=數据庫名稱"
  rmRes + 5027, "DataField=數据字段"
  rmRes + 5028, "DataSource=數据源"
  rmRes + 5029, "DisplayFormat=顯示格式"
  rmRes + 5030, "DriverName=驅動設備名稱"
  rmRes + 5031, "Enabled="
  rmRes + 5032, "EndColor=結束顏色"
  rmRes + 5033, "Fields=字段"
  rmRes + 5034, "FillColor=填充顏色"
  rmRes + 5035, "Filter=過濾器"
  rmRes + 5036, "Font=字体"
  rmRes + 5037, "FormNewPage=換頁"
  rmRes + 5038, "FrameColor=邊框顏色"
  rmRes + 5039, "FrameStyle=邊框樣式"
  rmRes + 5040, "FrameTyp=邊框類型"
  rmRes + 5041, "FrameWidth=邊框寬度"
  rmRes + 5042, "GapX=文本左邊距"
  rmRes + 5043, "GapY=文本上邊距"
  rmRes + 5044, "Gradient=漸變色"
  rmRes + 5045, "Height=高度"
  rmRes + 5046, "HideZeros=零值不顯示"
  rmRes + 5047, "Highlight=高亮屬性"
  rmRes + 5048, "IndexName=索引名稱"
  rmRes + 5049, "Items=項目"
  rmRes + 5050, "KeepAspect=保持外觀"
  rmRes + 5051, "KeyField=關鍵字段"
  rmRes + 5052, "Left=左邊距"
  rmRes + 5053, "LeftMargin=左邊距"
  rmRes + 5054, "Lines=行內容"
  rmRes + 5055, "LineSpacing=行間距"
  rmRes + 5056, "ListField=字段列表"
  rmRes + 5057, "ListSource=數据源列表"
  rmRes + 5058, "LoginPrompt=顯示登錄對話框"
  rmRes + 5059, "Master=主表"
  rmRes + 5060, "MasterFields=主表字段"
  rmRes + 5061, "MasterSource=主表源"
  rmRes + 5062, "Memo=內容"
  rmRes + 5063, "ModalResult=ModalResult值"
  rmRes + 5064, "Name=名稱"
  rmRes + 5065, "OLE=Ole內容"
  rmRes + 5066, "OnActivate=激活時執行的代碼"
  rmRes + 5067, "OnBeforePrint=打印前執行的代碼"
  rmRes + 5068, "OnClick=Click時執行代碼"
  rmRes + 5069, "OnFirstPage=在第一頁"
  rmRes + 5070, "OnLastPage=在最后一頁"
  rmRes + 5071, "Orientation=方向;頁面方向"
  rmRes + 5072, "Params=參數"
  rmRes + 5073, "Picture=圖片"
  rmRes + 5074, "Position=位置"
  rmRes + 5075, "PrintChildIfInvisible=不可見時仍打印子帶區"
  rmRes + 5076, "PrintIfSubsetEmpty=子表空白時仍打印"
  rmRes + 5077, "PrintToPrevPage=打印到前一頁"
  rmRes + 5078, "ReadOnly=只讀"
  rmRes + 5079, "RepeatHeader=重复標頭"
  rmRes + 5080, "Restrictions=限制"
  rmRes + 5081, "RightMargin=右邊距"
  rmRes + 5082, "RoundRect=圓角顯示"
  rmRes + 5083, "RoundSize=圓角弧度值"
  rmRes + 5084, "ShadowColor=陰影顏色"
  rmRes + 5085, "ShadowWidth=陰影寬度"
  rmRes + 5086, "Shape=形狀"
  rmRes + 5087, "Size=大小;頁面大小"
  rmRes + 5088, "SQL=SQL代碼"
  rmRes + 5089, "Stretched=伸展;可以根据內容多少，自動增加高度，同時還需設置所在欄的Stretched屬性"
  rmRes + 5090, "StretchToPrintable=伸展到可打印區域"
  rmRes + 5091, "Style=狀態"
  rmRes + 5092, "Suppress=壓縮重复值"
  rmRes + 5093, "TableName=表名"
  rmRes + 5094, "Tag=標記"
  rmRes + 5095, "Text=文字"
  rmRes + 5096, "TextOnly=純文字"
  rmRes + 5097, "Top=上邊距"
  rmRes + 5098, "TopMargin=上邊距"
  rmRes + 5099, "Type=類型"
  rmRes + 5100, "Underlines=下划線"
  rmRes + 5101, "Visible=顯示"
  rmRes + 5102, "Width=寬"
  rmRes + 5103, "SizeMode=對象大小模式"
  rmRes + 5104, "PenMode=畫筆樣式"
  rmRes + 5105, "Chart=統計圖類型"
  rmRes + 5106, "ResetAfterPrint=打印后初始化"
  rmRes + 5107, "DBCalcType=計算類型"
  rmRes + 5108, "AutoAppendBlank=自動追加空行"
  rmRes + 5109, "PrintFrame=打印邊框;專為套打設置，False:當選中[不打印背景圖]時，打印時不打印邊框"
  rmRes + 5110, "PrintVisiBle=打印時可見;專為套打設置，False:當選中[不打印背景圖]時，打印時不打印"
  rmRes + 5111, "Background=背景圖圖形;專為套打設置，當選中[不打印背景圖]時,不打印背景圖片"
  rmRes + 5112, "BackgroundLeft=背景圖左邊距"
  rmRes + 5113, "BackgroundTop=背景圖上邊距"
  rmRes + 5114, "onAfterPrint=打印后執行的代碼"
  rmRes + 5115, "SaveValue=保存計算后的值"
  rmRes + 5116, "WordBreak="
  rmRes + 5117, "RTLReading="
  rmRes + 5118, "Breaked=中斷"
  rmRes + 5119, "LinesPerPage=每頁記錄數"
  rmRes + 5120, "PrintColFirst=先列后行"
  rmRes + 5121, "RangeBegin="
  rmRes + 5122, "RangeEnd="
  rmRes + 5123, "RangeEndCount="
  rmRes + 5124, "TotalCalc=總計"
  rmRes + 5125, "DataBand=數据源Band"
  rmRes + 5126, "CurrencySymbol=貨幣符號"
  rmRes + 5127, "DecimalNumber=小數位"
  rmRes + 5128, "DecimalSeparatorColor=小數位顏色"
  rmRes + 5129, "DigitalNumber=數字個數"
  rmRes + 5130, "GridLineColor="
  rmRes + 5131, "GridLineWidth="
  rmRes + 5132, "IsTitle="
  rmRes + 5133, "KilobitSeparatorColor=千分位顏色"
  rmRes + 5134, "RotationType=文字方向"
  rmRes + 5135, "MergeRepeated=合并重复值單元格"
  rmRes + 5136, "MangeTag=處理字符串中的標記;處理字符串中的標記,標記:上標：m~4|,下標：M_4|,強制換行:`是換行符"
  rmRes + 5137, "ScaleFontSize=自動縮放字体大小"
  rmRes + 5138, "AutoHCenter=對象自動居中"
  rmRes + 5139, "HeaderHeight=橫向標題欄高度;設置每個橫標題欄高度(包含標題欄),例如:30;20;20"
  rmRes + 5140, "HeaderWidth=豎向標題欄寬度;設置每個豎標題欄寬度(包含序號列),例如:50;80;100"
  rmRes + 5141, "ShowRowNo=顯示序號"
  rmRes + 5142, "ScaleFontType=縮放字体類型;ByWidth:按寬度縮放;ByHeight:按高度縮放"
  rmRes + 5143, "OutBigNum=轉換成大寫;轉換內容為人民幣大寫形式"
  rmRes + 5144, "FontScaleWidth=字体寬度;設置此屬性可顯示扁体字，長体字等特殊形狀的字体"
  rmRes + 5145, "PrintAtAppendBlank=在增加空行時顯示;為True時:自動空行時也顯示;為False時:自動空行時不顯示"
  rmRes + 5146, "Transparent=透明"
  rmRes + 5147, "MasterMemoView=MasterMemoView;設置合并單元格的Parent文本框"
}
